@charset 'utf-8';
@import url('layout.css');
@import url('company.css');
@import url('skill.css');
@import url('product.css');
@import url('service.css');
@import url('main.css');
@import url('font.css');

* {
	box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

fieldset,
img {
	border: 0 none;
}

dl,
li,
menu,
ol,
ul {
	list-style: none
}

div:after,
dl:after,
ul:after {
	content: '';
	display: block;
	clear: both
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}

button,
input,
select,
textarea {
	border-radius: 0;
	vertical-align: middle
}

img {
	font-size: 0;
	line-height: 0;
	vertical-align: top
}

input::-ms-clear {
	display: none
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}

body {
	background: #fff;
	direction: ltr;
	-webkit-text-size-adjust: none;
	color: #6f6f6f;
}

body.bgWhite {
	background: #fff;
}

body,
button,
input,
select,
td,
textarea,
th {
	font-size: 16px;
	line-height: 1;
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	font-weight: 400;
	color: #6f6f6f;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a:active {
	background-color: transparent
}

address,
caption,
cite,
code,
dfn,
em,
var {
	font-style: normal;
	font-weight: 400
}

iframe {
	border: 0;
	width: 100%;
	height: 100%
}

body {
	position: relative
}

table {
	empty-cells: show;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%
}

caption {
	visibility: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	height: 0
}

.blind,
.hide,
caption,
hr {
	display: inline-block !important;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0;
	line-height: 0;
	border: 0 !important;
	overflow: hidden !important
}

.hide_text {
	position:absolute; 
	display:block; 
	width: 1px; 
	height: 1px; 
	border: 0; 
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden; 
}

.skip { 
	position: fixed; 
	top:-100%; 
	right: 0; 
	left: 0; 
	line-height: 5rem; 
	background: #000; 
	color:#fff; 
	text-align: center;
	z-index: 10000;
	transition: all .3s; 
}

.skip:focus {
	top: 0; 
}

input {
	width: 100%;
	border: 0;
	background: transparent;
	outline: 0;
}

input::placeholder {
	color: #bbbbbb;
	font-size: 14px;
}

#sknavi {
	position: absolute;
	z-index: 1000;
}

#sknavi p a {
	position: absolute;
	top: -200px
}

#sknavi p a:active,
#sknavi p a:focus {
	top: 1px;
	left: 0;
	display: block;
	width: 150px;
	color: #fff;
	padding: 5px 3px 0 3px;
	margin-left: 5px;
	text-align: center;
	font-size: 100%;
	font-weight: 700;
	background: #115aa3;
	text-decoration: none
}

.elip {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.so {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px
}

.fl {
	float: left;
}

.dpfr {
	display: flow-root;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left !important;
}

.hip {
	text-indent: -25px;
	margin-left: 25px;
}

.hauto {
	height: auto !important;
}

.pt10 {
	padding-top: 10px;
}

.pt80 {
	padding-top: 80px;
}

.pb30 {
	padding-bottom: 30px !important;
}

.pl110 {
	padding-left: 110px;
}

.pl70 {
	padding-left: 70px;
}

.mt0 {
	margin-top: 0 !important
}

.mt5 {
	margin-top: 5px !important
}

.mt20 {
	margin-top: 20px !important
}

.mt30 {
	margin-top: 30px !important
}

.mt40 {
	margin-top: 40px !important
}

.mt50 {
	margin-top: 50px !important
}

.mt60 {
	margin-top: 60px !important
}

.mt100 {
	margin-top: 100px !important
}

.mt112 {
	margin-top: 112px !important
}

.mb0 {
	margin-bottom: 0 !important
}

.mb20 {
	margin-bottom: 20px !important
}

.mb30 {
	margin-bottom: 30px !important
}

.mb75 {
	margin-bottom: 75px !important
}

.mbm26 {
	margin-bottom: -26px !important
}

.text_center {
	text-align: center;
}

.fwb {
	font-family: 'Pretendard';
	font-weight: 700;
}

.fw500 {
	font-weight: 500;
}

.fs14 {
	font-size: 14px !important;
}

.fc000 {
	color: #000 !important;
}

.fc313131 {
	color: #313131;
}

.fc666 {
	color: #666 !important;
}

.fc6f6f6f {
	color: #6f6f6f !important;
}

.lts_m001 {
	letter-spacing: -0.01em !important;
}

.btn_c_area {
	text-align: center;
	padding: 50px 0 100px 0;
}

.btn_cover_player {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background: url(../img/main/bt_bgo_player.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 93px;
	height: 93px;
	z-index: 10
}

.btn_page_more {
	width: 460px;
	height: 46px;
	border: 1px solid #9c9c9c;
	text-align: center;
	color: #141414;
	font-size: 14px;
}

.btn_layer_close {
	background: url('../images/icon/bt_layer_close.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.ham_memu {
	display: none;
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
	z-index: 9999;
	right: -100%;
}

.layer_popup,
.layer_popup_complete,
.layer_popup_customer_center {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/* right: -100%; */
	display: none;
}

.layer_popup.active,
.layer_popup_complete.active,
.layer_popup_customer_center.active {
	display: block;
	background-color: initial;
	z-index: 10000;
}

.layer_popup.hidden {
	display: block;
	visibility: hidden;
}

.layer_popup.hidden * {
	transition: none !important;
}

.layer_popup.active {
	visibility: visible;
}

.dim_bgs {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
	z-index: 9998;
}

.dim_bg {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
	z-index: 9998;
}

.player_wrap {
	position: absolute;
	width: 900px;
	height: 506.6px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.youtube_wrap {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 비율인 경우 */
	/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
	padding-top: 25px;
	height: 0;
}

.youtube_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player_wrap .btn_layer_close {
	position: absolute;
	right: 0;
	top: -30px;
}

.popcont_wrap {
	position: absolute;
	background: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.pop_wrap {
	position: fixed;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 320px;
	height: 262px;
	padding: 50px 30px;
	margin: 40px auto;
}

.cont_wrap {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 60px;
	overflow-y: auto;
	/* overflow: auto; */
}

.comm_popup_wrap .pic_area {
	width: 120px;
	float: left;
}

.comm_popup_wrap .pic_area .img {
	width: 120px;
}

.comm_popup_wrap .pic_area .img img {
	max-width: 100%;
}

.comm_popup_wrap .pic_area .snss {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.comm_popup_wrap .info_area {
	width: 500px;
	margin-left: 155px;
}

.comm_popup_wrap .info_area .name {
	color: #141414;
	font-family: 'Pretendard';
	font-weight: 400;
	font-size: 22px;
	margin-top: 15px;
}

.comm_popup_wrap .info_area .desc {
	color: #3c3c3c;
	font-size: 14px;
	margin-top: 10px;
	line-height: 1.54;
}

.comm_popup_wrap .info_area .tags {
	margin-top: 15px;
}

.comm_popup_wrap .info_area .tags span {
	display: inline-block;
	background: #f8f8f8;
	border-radius: 15px;
	padding: 9px 10px;
	color: #505050;
	font-size: 11px;
}

.comm_popup_wrap .info_area .detail {
	color: #666666;
	line-height: 1.83;
	font-size: 12px;
	margin-top: 25px;
}

.comm_popup_more {
	border-top: 1px solid #f0f0f0;
	padding-top: 30px;
	margin-top: 30px;
}

.comm_popup_more ul {
	display: block;
}

.comm_popup_more li {
	float: left;
	width: 50%;
	margin-bottom: 10px;
}

.comm_popup_more li a {
	display: block;
}

.comm_popup_more li a .th_img {
	width: 100px;
	float: left;
}

.comm_popup_more li a .text_wrap {
	margin: 0 20px 0 120px;
}

.comm_popup_more li a .text_wrap .cate {
	color: #ff7d5f;
	font-family: 'Pretendard';
	font-weight: 700;
	font-size: 11px;
}

.comm_popup_more li a .text_wrap .title {
	color: #141414;
	line-height: 1.29;
	font-size: 14px;
	margin-top: 5px;
}

.layer_popup .pop_close_btn {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 9999;
}

.pop_close_btn .btn_close {
	position: absolute;
	display: block;
	top: -4px;
	right: 0;
	background: url('../images/icon/bt_layer_close.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 14px;
	height: 14px;
}

.pc_show {
	display: block;
}

.mb_show {
	display: none;
}



.combo_box {
	width: 100%;
	height: 56px;
	padding: 0 20px;
	margin: 25px 0 30px;
}

.combo_box.type01 {
	height: 41px;
}

.combo_wrap {
	position: relative;
	border-bottom: solid 1px #000000;
	height: 46px;
	text-align: left;
}

.combo_wrap::after {
	display: block;
	content: '';
	clear: both;
}

.combo_wrap .text_fd {
	position: absolute;
	left: 2px;
	top: 13px;
	color: #141414;
	display: block !important;
	width: 171px;
	font-size: 18px;
	line-height: 30px;
	opacity: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.combo_wrap .text_fd.selected {
	color: #141414;
	opacity: 1;
}

.combo_wrap .btn_drop_show {
	position: absolute;
	right: 0;
	top: 12px;
	display: block;
	background: url(../images/icon/arrow_down.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.combo_wrap .btn_drop_close {
	position: absolute;
	right: 0;
	top: 12px;
	display: block;
	background: url(../images/icon/arrow_up.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.combo_wrap .drop_wrap {
	display: block;
	position: absolute;
	left: 0;
	top: 46px;
	background: #fff;
	width: 100%;
	border: solid 1px #000000;
	border-top: 0;
	z-index: 100;
}

.combo_wrap .drop_wrap ul {
	margin: 12px 0;
}

.combo_wrap .drop_wrap li {
	line-height: 2.75;
	width: 100%;
	padding: 0;
	margin-left: 0;
	border-bottom: 0;
}

.combo_wrap .drop_wrap li a {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding-left: 20px;
}

.combo_wrap .drop_wrap li a:hover {
	color: #FF5F00;
}

.board_title {
	position: relative;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 108px;
	line-height: 36px;
	margin: 20px 0 20px;
	font-size: 26px;
	font-weight: 500;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
}

.board_title.text_free {
	max-height: initial;
	display: initial;
}

.board_title.flex_style {
	display: flex;
	align-items: center;
	height: 126px;
	max-height: initial;
	margin-top: 20px;
	font-weight: 500;
}

.reward_list {
	display: block;
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	padding: 0 20px;
}

.reward_list li {
	width: 100%;
	margin-bottom: 60px;
}

.reward_list li:last-child {
	margin-bottom: 0;
}

.reward_list li .list_img {
	width: 100%;
}

.reward_list li .list_img img {
	width: 100%;
}

.reward_list li .tag {
	font-size: 12px;
	line-height: 16px;
	color: #FF5F00;
	line-height: 20px;
	margin: 20px 0 8px 0;
}

.reward_title_Wrap {
	width: 1320px;
	height: 80px;
	margin: 0 auto;
}

.reward_list li .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 50px;
	line-height: 25px;
	font-size: 16px;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.reward_list li .bcopy {
	display: none;
	font-size: 14px;
	line-height: 27px;
	color: #6f6f6f;
}

.view_title {
	position: relative;
	display: block;
	border-top: 1px solid #000;
	margin-bottom: 50px;
}

.view_title li {
	position: relative;
	padding: 10px 20px;
	height: 94px;
	border-bottom: 1px solid #E6E6E6;
}

.view_title li .catalog {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 60px;
	margin-right: 20px;
	color: #000000;
}

.view_title li .title {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 70%;
	color: #6f6f6f;
}


.reward_product_list {
	display: block;
}

.reward_product_list li {
	width: 156px;
	text-align: center;
	float: left;
	background: #F9F9F9;
	margin-right: 20px;
	overflow: hidden;
}

.reward_product_list li:last-child {
	margin-right: 0;
}

.reward_product_list li a {
	text-align: center;
	display: block;
	width: 156px;
	height: 250px;
	padding: 28px 17px 20px;
	margin: 0 auto;
}

.reward_product_list .pro_img {
	width: 110px;
	height: 130px;
}

.reward_product_list .tag {
	font-size: 13px;
	line-height: 15px;
	color: #6f6f6f;
	margin: 49px 0 8px 0;
	text-align: center;
}

.reward_product_list .title {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	margin-top: 32px;
	text-align: center;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 48px;
	font-weight: 500;
}

.item {
	padding-top: 80px;
	margin-top: 130px;
	border-top: 1px solid #e6e6e6;
	overflow: hidden;
}

.item .title_inst {
	line-height: 26px;
	padding: 0 20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.lSSlide {
	padding: 0;
}

.lSSlideOuter {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0 20px;
}

.lightSlider:before,
.lightSlider:after {
	content: " ";
	display: table;
}

.lightSlider {
	overflow: hidden;
	margin: 0;
}

.lSSlideWrapper {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.lSSlideWrapper>.lightSlider:after {
	clear: both;
}

.lSSlideWrapper .lSSlide {
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	transition: all 1s;
	-webkit-transition: all 1s;
	-webkit-transition-property: -webkit-transform, height;
	-moz-transition-property: -moz-transform, height;
	transition-property: transform, height;
	-webkit-transition-duration: inherit !important;
	transition-duration: inherit !important;
	-webkit-transition-timing-function: inherit !important;
	transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
	position: relative;
}

.lSSlideWrapper .lSFade>* {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 9;
	margin-right: 0;
	width: 100%;
}

.lSSlideWrapper.usingCss .lSFade>* {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: inherit !important;
	transition-duration: inherit !important;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: inherit !important;
	transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade>*.active {
	z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade>*.active {
	opacity: 1;
}

.lSPager.lSpg {
	margin: 50px 0 0;
	padding: 0;
	text-align: center;
}

.lSPager.lSpg>li {
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
}

.lSPager.lSpg>li:hover a,
.lSPager.lSpg>li.active a {
	background-color: #FF5F00;
}

.lSPager.lSpg>li a {
	background-color: #d6d6d6;
	border-radius: 30px;
	display: inline-block;
	height: 8px;
	overflow: hidden;
	text-indent: -999em;
	width: 8px;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.board_list_L {
	position: relative;
	display: block;
	padding: 0 20px;
}

.board_list_L li {
	overflow: hidden;
	position: relative;
	padding-bottom: 35px;
	border-bottom: 1px solid #E6E6E6;
}

.board_list_L li ~ li {
	margin-top: 35px;
}

.board_list_L>li a:hover,
.board_list_L>li a.active {
	background: url('../images/icon/download_w_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	background-color: #000000;
	color: #ffffff;

}

.board_list_L>li a {
	position: absolute;
	right: 0;
	top: 0;
	color: #000;
	font-size: 13px;
	font-weight: 500;
	line-height: 22px;
	padding: 10px 33px 10px 18px;
	border: 1px solid #000;
	background: url('../images/icon/download_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.board_list_L li .catalog {
	display: block;
	line-height: 16px;
	padding-bottom: 8px;
	font-size: 12px;
	font-weight: 500;
	color: #FF782D;
	letter-spacing: -0.01em;
}

.board_list_L li .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 68%;
	max-height: 52px;
	line-height: 26px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board_list_L li .data {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 80px;
	color: #6F6F6F;
	text-align: right;
	padding-top: 5px;
}

.top_search {
	position: relative;
	padding: 0 20px;
	margin: 50px 0 0;
}

.top_search .form-input {
	height: 40px;
	padding: 0;
}

.top_search .form-input + button {
	top: 4px;
	right: 0;
}

.search {
	position: relative;
	width: 100%;
}

.search button {
	position: absolute;
	right: 20;
	top: 11px;
	width: 32px;
	height: 32px;
	z-index: 999;
}

.search button img {
	width: 32px;
	height: 32px;
}

.empty {
	position: relative;
	text-align: center;
	padding: 46px 20px 46px;
	margin: 0 20px 20px;
	border: 1px dashed #bbbbbb;
}

.empty.type02 {
	border: none;
	margin-top: 54px;
}

.empty .bg_img {
	width: 50px;
	height: 50px;
}

.empty .title {
	line-height: 25px;
	margin-top: 18px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
}

.empty .stitle {
	margin-top: 8px;
	font-size: 12px;
	line-height: 16px;
	color: #6f6f6f;
}

.board {
	position: relative;
}

.catalog_list {
	position: relative;
	display: block;
	padding: 0 60px;
}

.catalog_list li {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 80px;
}

.catalog_list li:last-child {
	margin-bottom: 0;
}

.catalog_list>li a:hover,
.catalog_list>li a.active {
	background: url('../images/icon/download_w_icon.png')no-repeat 103px 15px;
	background-size: 28px 12px;
	background-color: #000000;
	color: #ffffff;

}

.catalog_list>li a {
	display: block;
	width: 162px;
	line-height: 22px;
	padding: 10px 56px 10px 51px;
	border: 1px solid #000;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 500;
	color: #000;
	background: url('../images/icon/download_icon.png')no-repeat 103px 15px;
	background-size: 28px 12px;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.catalog_list li:last-child {
	margin-right: 0;
}

.catalog_list li img {
	position: relative;
	width: 100%;
	filter: drop-shadow(8px 12px 6px rgba(0, 0, 0, 0.2));
}

.catalog_list li .catalog {
	display: block;
	line-height: 16px;
	padding-bottom: 8px;
	margin-top: 42px;
	font-size: 12px;
	font-weight: 500;
	color: #FF782D;
}

.catalog_list li .title {
	display: block;
	line-height: 26px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;

}

.map_Wrap {
	position: relative;
	margin-top: 46px;
}

.map_Wrap .map_tab {
	width: 100%;
	/* height: 734px; */
	/* overflow: scroll; */
}

.map_Wrap .maps {
	width: 100%;
}

.map_Wrap .maps .bg_size {
	width: 100%;
}

.mtop {
	margin-top: 46px;
}

.agency_list {
	position: relative;
	padding: 0 20px;
}

.agency_list li {
	display: block;
	padding: 0;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}

.agency_list li:first-child {
	border-top: 1px solid #e6e6e6;
}

.agency_list li:last-child {
	border-bottom: none;
}

.agency_list li .title {
	position: relative;
	display: inline-block;
	max-width: 220px;
	line-height: 26px;
	padding: 0 50px 0 34px;
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.agency_list li .adress {
	font-size: 14px;
	line-height: 22px;
	color: #313131;
	margin-bottom: 4px;
	padding-left: 34px;
	height: 44px;
}

.agency_list li .tel {
	font-size: 14px;
	line-height: 22px;
	color: #929292;
	padding-left: 34px;
}

.agency_list li .search {
	position: absolute;
	top: 23px;
	right: 13px;
	width: 50px;
	line-height: 26px;
	padding-right: 12px;
	color: #000;
	font-size: 14px;
	background: url(../images/icon/arrow_right_type02.svg) right center / 4px 8px no-repeat;
}

.agency_list li .smenu {
	background: #f9f9f9;
}

.agency_list li a {
	display: block;
	background: #fff;
	padding: 24px 13px 24px 20px;
}

.agency_list li a.active {
	background: #f9f9f9;
	border-bottom: 1px solid #e6e6e6;
}

.map_add {
	position: relative;
}

.apin {
	position: absolute;
	left: 20px;
	top: 25px;
	text-align: center;
	padding-top: 3px;
	background: url('../images/icon/agency_pin.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 20px;
	height: 24px;
	font-size: 10px;
	line-height: 15px;
	color: #fff;
}

.agency_list li .title span {
	position: absolute;
	top: 0;
	left: 80%;
	display: inline-block;
	min-width: 50px;
	line-height: 26px;
	font-size: 14px;
	color: #FF5C00;
	vertical-align: top;
}

.pop_title {
	line-height: 26px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-align: center;
}

.pop_bcopy {
	font-size: 14px;
	line-height: 22px;
	color: #313131;
	margin: 16px 0 30px;
	text-align: center;
	height: 44px;
	overflow: hidden;
}

.btn_ok {
	display: block;
	margin: 0 auto;
	width: 145px;
	padding: 12px 0;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.btn_selet,
.btn_popup_select_ok {
	position: relative;
	width: 100%;
	padding: 10px 70px;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.pop_select {
	position: relative;
}

.btn_popup_select_ok {
	font-weight: 500;
}

.mop {
	margin-top: 20px;
}

.mtop {
	margin-top: 92px;
}

.stop {
	margin-top: 200px;
}

.org_text {
	color: #FF5F00;
}

.mb8 {
	margin-bottom: 8px;
}

.mbomm {
	margin-bottom: -80px;
}

.mtomm {
	margin-top: -30px;
}

.ptno {
	padding-top: 0;
}

.pbno {
	padding-bottom: 0;
}

.bgB {
	background: #000000;
}

.ftcW {
	color: #ffffff;
}

.maps {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #000;
}

.topwrap {
	position: fixed;
	width: 34px;
	height: 34px;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}

.topwrap .topBtn {
	display: block;
}

.topwrap .topBtn a,
.topwrap .topBtn button {
	position: absolute;
	border-radius: 30px;
	background: #000 url('../images/icon/top_move_btn.svg')no-repeat center;
	background-size: 12px 14px;
	width: 34px;
	height: 34px;
}

.topwrap .topBtn a:active,
.topwrap .topBtn button:active {
	background: #FF5F00 url('../images/icon/top_move_btn.svg')no-repeat center;
	background-size: 12px 14px;
	width: 34px;
	height: 37px;
}

body.bot .topwrap {
	bottom: 110px;
}

.btn_gotop {
	display: none;
}

.accordion {
	margin: 80px 0 30px;
	width: 100%;
	height: auto;
	overflow: auto;
	flex: 1 1 auto;
	-webkit-overflow-scrolling: touch;
}

.cate {
	width: 100%;
	position: relative;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #fff;
}

.cate .menu {
	display: block;
	position: relative;
	width: 100%;
	background: #fff;
	height: 50px;
}

.cate .menu .menulink {
	position: relative;
	display: block;
	width: 100%;
	line-height: 50px;
	padding-left: 40px;
	font-size: 20px;
	font-weight: 500;
	color: #bbbbbb;
	text-align: left;
}

.cate .menu .menulink span {
	position: absolute;
	right: 20px;
	top: 12px;
	background: url('../images/icon/menu_arrow_down.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
}

.cate .menu .menulink.active {
	color: #000;
}

.cate .menu .menulink.active > span {
	background-image: url('../images/icon/arrow_up_type01.svg');
}

.cate .smenu {
	padding: 20px 0;
	background: #F9F9F9;
}

.cate ul li {
	height: 44px;
	font-size: 16px;
	font-weight: 500;
	color: #929292;
}

.cate ul li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 44px;
	padding-left: 40px;
	color: #929292;
}

.cate ul li a:active {
	color: #000000;
}

.cate ul li a.on {
	color: #000000;
}

.cate .menu a.active,
.cate .menu button.active {
	color: #000000;
}

.cate .menu a.active span
.cate .menu button.active span {
	position: absolute;
	right: 20px;
	top: 12px;
	background: url('../images/icon/menu_arrow_up.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
}

.cate_title {
	display: block;
	width: 100%;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FF5C00;
	padding: 30px 40px 10px;
}

.menu_header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 52px;
	background: #ffffff;
	border-bottom: 1px solid #e6e6e6;
	z-index: 9999;
}

.menu_header .close {
	position: absolute;
	left: 20px;
	top: 12px;
}

.menu_header .close>a,
.menu_header .close>button {
	display: block;
	background: url('../images/icon/menu_close.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
}

.menu_header .lang {
	position: absolute;
	right: 20px;
	top: 12px;
}

.menu_header .lang a {
	display: block;
	width: 40px;
	font-size: 14px;
	line-height: 28px;
	color: #000;
	text-align: right;
}

.bot {
	margin-bottom: 96px;
}

.notScroll {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	touch-action: none;
}


/* 2020.11.23 추가 */

.boxs {
	position: relative;
}

.selectBox * {
	box-sizing: border-box;
}

.selectBox {
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	background: url('../images/icon/arrow_down_type01.svg') right center / 24px no-repeat;
	cursor: pointer;
}

.selectBox.active {
	background-image: url('../images/icon/arrow_up_type01.svg');
}

.combo_box.type01 .selectBox {
	height: 100%;
	padding-right: 24px;
	background: url('../images/icon/arrow_down_type01.svg') right center / 24px 24px no-repeat ;
}

.selectBox.action {
	background: url('../img/arrow_up.png') no-repeat 100% 50%;
}

.selectBox .label {
	display: flex;
	align-items: center;
	width: inherit;
	height: inherit;
	line-height: 22px;
	border: 0 none;
	outline: 0 none;
	background: transparent;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	cursor: pointer;
}

.selectBox .optionList {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	line-height: 30px;
	max-height: 0;
	padding: 0;
	background: #ffffff;
	font-size: 14px;
	color: #000;
	text-align: left;
	list-style-type: none;
	overflow: hidden;
}

.combo_box.type01 .selectBox .optionList {
	top: 40px;
}

.selectBox .optionList::-webkit-scrollbar {
	display: none;
	width: 4px;
}

.selectBox .optionList::-webkit-scrollbar-track {
	background: transparent;
}

.selectBox .optionList::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}

.selectBox .optionList::-webkit-scrollbar-thumb:hover {
	background: #303030;
}


.selectBox.active .optionList {
	max-height: 300px;
	transition: .1s ease-in;
	border: 1px solid #000;
	padding: 15px 0;
	overflow-y: auto;
	z-index: 9999;
}

.selectBox .optionItem {
	padding: 0 0 0 20px;
	font-weight: 500;
	color: #bbb;
	transition: .3s ease-in;
}

.selectBox .optionItem.selected {
	color: #000;
}

.selectBox .optionItem:hover {
	background: #ffffff;
}

.selectBox .optionItem:last-child {
	border-bottom: 0 none;
}

/* 팝업 - 고객센터 (임시) */
.service_popup {
	width: 357px;
	height: 207px;
	padding: 50px 50px 50px 50px;
	position: fixed;
	top: calc(40% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	margin: 40px auto;
	z-index: 9999;
}

.service_popup .pop_close_btn{
	display: inline-block;
	position: absolute;
	right: 55px;
	top: 64px;
	z-index: 9999;
}

.service_popup_text_wrap {
	padding-top: 24px;
}

.service_popup .alert_title {
	position: relative;
	font-size: 22px;
	line-height: 35px;
	color: #000;
	margin: 0px;
}

.service_popup_text_wrap {
	padding-top: 24px;
}

.service_popup_text_wrap div {
	width: 200px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	color: #313131;
	margin-bottom: 5px;
}

.service_popup_text_wrap div img {
	width: 20px;
	margin-right: 7px;
	padding-top: 3px;
}

/* //팝업 - 고객센터 (임시) */

/* 설치사례 상세보기 전용 스타일*/
.text_center {
	text-align: center;
}

.special_article_01 {
	text-align: center;
	margin: 30px auto;
	padding: 22px 21px 27px;
	border: 5px solid rgb(228, 228, 228);
	max-width: 500px;
	height: 92px;
	line-height: 46px;
	font-size: 19px;
	font-weight: 700;
	color: #000;
	letter-spacing: 7px;
}

.special_article_02 {
	text-align: center;
	font-style: italic;
	font-size: 30px;
	line-height: 37px;
	color: rgb(109, 109, 109);
	font-weight: 400;
	margin-top: 100px;
}

.special_article_03 {
	text-align: center;
	margin-bottom: 35px;
	padding: 10px;
	border: 2px solid #e5e5e5;
	background-color: f6f6f6;
	font-size: 25px;
	color: #000;
	font-weight: bold;
	line-height: 40px;
}
/* //설치사례 상세보기 전용 스타일 */

/* 카카오맵 전용 스타일 */
.map_add + .kakao_maps {
	width: 100%;
	/* height: 220px; */
}
.map_add + .kakao_maps .wrap_map {
	height: 100%;
}
/* //카카오맵 전용 스타일 */

/* 고객지원 - 견적문의 완료 팝업 스타일 */
.layer_popup_complete .pop_bcopy {
	color: #000;
}

.layer_popup_complete .btn_ok {
	font-weight: 500;
}
/* //고객지원 - 견적문의 완료 팝업 스타일 */

/* 모바일 테스트용 박스 스타일 */
#console_box {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 15%;
	border: 3px solid green;
	background-color: #000;
	font-size: 20px;
	color: #fff;
	z-index: 10004;
}
/* //모바일 테스트용 박스 스타일 */