/* company */

.stitle_Wrap {
	position: relative;
	padding: 50px 20px;
}

.stitle_Wrap .title {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
}

.stitle_Wrap .stitle {
	line-height: 22px;
	margin-top: 12px;
	font-size: 13px;
	color: #6f6f6f;
	text-align: center;
	letter-spacing: -0.03em;
}

.en .stitle_Wrap .stitle {
	line-height: 1.4;
}


.stitle_philo_Wrap {
	position: relative;
	padding: 122px 0 50px;
}

.stitle_philo_Wrap .title {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
	margin-bottom: 20px;
}

.capa_Wrap {
	display: block;
	position: relative;
}

.capa_Wrap li {
	position: relative;
}

.capa_Wrap li .img_box {
	width: 100%;
}

.capa_Wrap li .img_box img {
	width: 100%;
}

.capa_Wrap li .box {
	width: 100%;
}

.capa_Wrap li .title_boxL {
	display: block;
	position: relative;
	flex-direction: column-reverse;
	height: 225px;
	padding: 20px;
}

.capa_Wrap li .title_boxR {
	display: block;
	position: relative;
	padding: 20px 20px 50px;
}

.capa_Wrap li .midd {
	vertical-align: middle;
}

.capa_Wrap li .title {
	font-size: 18px;
	color: #000;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 12px;
}

.capa_Wrap li .tag {
	font-size: 16px;
	color: #000;
	line-height: 25px;
	margin: 12px 0 8px 0;
}

.capa_Wrap li .stitle {
	line-height: 22px;
	font-size: 13px;
	color: #666;
	letter-spacing: -0.03em;
}

.en .capa_Wrap li .stitle {
	line-height: 1.6;
}

.capa_Wrap li .stitle p {
	position: relative;
	font-size: 13px;
	color: #666;
	line-height: 22px;
	padding-left: 12px;
	letter-spacing: -0.03em;
}

.en .capa_Wrap li .stitle p {
	line-height: 1.6;
}

.capa_Wrap li .stitle .icon {
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	display: inline-block;
	background-color: #6f6f6f;
	margin-right: 6px;
	vertical-align: middle;
	border-radius: 2px;
}

.capa_Wrap li .note {
	font-size: 13px;
	color: #bbbbbb;
	line-height: 22px;
	margin-top: 20px;
}

.process {
	position: relative;
	padding: 0 20px;
}

.process li {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	margin-bottom: 30px;
}

.process li .picon {
	flex-shrink: 0;
	width: 140px;
	height: 140px;
	padding: 25px;
}

.process li img {
	width: 100%;
	height: 100%;
}

.process li .title {
	margin-left: 30px;
}

.en .process li .title {
	margin-left: 20px;
}

.process li .title .num {
	line-height: 22px;
	margin-bottom: 8px;
	font-size: 13px;
	color: #FF5F00;
}

.process li .title .mtitle {
	line-height: 26px;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.en .process li .title .mtitle {
	word-break: break-all;
}

.process li .title .stitle {
	color: #6f6f6f;
	font-size: 13px;
	line-height: 22px;
}

.en .process li .title .stitle {
	line-height: 1.4;
}

.process li:last-child {
	margin-bottom: 0;
}

.philo_wrap {
	position: relative;
	width: 100%;
	padding: 0 20px;
}

.philo_wrap li {
	float: left;
	width: 100%;
	height: 286px;
	padding: 30px 20px;
	margin-bottom: 20px;
	background: #f9f9f9;
	text-align: center;
}

.en .philo_wrap li {
	height: auto;
}

.philo_wrap li:last-child {
	margin-bottom: 0;
}

.philo_wrap li .icon {
	height: 60px;
	text-align: center;
}

.philo_wrap li .icon img {
	height: 100%;
}

.philo_wrap li .tag {
	font-size: 13px;
	line-height: 22px;
	font-weight: 500;
	color: #000000;
	margin: 30px 0 2px 0;

}

.philo_wrap li .title {
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;

}

.philo_wrap li .bcopy {
	margin-top: 16px;
	font-size: 14px;
	line-height: 22px;
	color: #6f6f6f;
}

.en .philo_wrap li .bcopy {
	line-height: 1.4;
}

.ceo_wrap {
	position: relative;
	padding: 0;
	margin-top: 112px;
}

.ceo_wrap .message {
	width: 100%;
}

.ceo_wrap .message .title {
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 37px;
	padding: 0 20px;
	margin: 50px 0 30px;
}

.ceo_wrap .message em {
	color: #FF5F00;
}

.ceo_wrap .message .bcopy {
	line-height: 22px;
	padding: 30px 20px 0;
	font-size: 13px;
	color: #000000;
	letter-spacing: -0.03em;
}

.en .ceo_wrap .message .bcopy {
	line-height: 1.4;
}

.ceo_wrap .ceo_poto {
	position: relative;
}

.ceo_wrap .ceo_poto img {
	width: 100%;
}

.ceo_wrap .sign {
	margin-top: 50px;
	position: relative;
	padding: 0 20px;
}

.ceo_wrap .sign span {
	display: block;
	line-height: 25px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
	opacity: 0.8;
}

.ceo_wrap .sign .ceo_sign {
	width: 139px;
}

.ceo_wrap .sign img {
	width: 100%;
}

.history_wrap {
	position: relative;
	margin-top: 112px;
}

.history_wrap .hline {
	height: 130px;
	border-right: 1px solid #e6e6e6;
	width: 645px;
}

.history_wrap .hblock {
	display: block;
}

.history_wrap .division {
	height: 1px;
	background-color: #000;
	margin: 70px 20px 0;
}

.history_wrap .poto {
	width: 100%
}

.history_wrap .poto .title {
	line-height: 30px;
	padding: 0 20px;
	margin: 50px 0 20px;
	font-size: 22px;
	font-weight: 500;
	color: #000000;
}

.history_wrap .poto img {
	width: 100%;
}

.history_wrap .time_line {
	width: 100%;
	padding: 0 20px;
}

.history_wrap .time_line li {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px solid #e6e6e6;
}

.history_wrap .time_line li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

.history_wrap .time_line li p {
	line-height: 26px;
}

.en .history_wrap .time_line li p {
	line-height: 1.4;
	padding-left: 34px;
	margin-bottom: 8px;
}

.en .history_wrap .time_line li p:last-child {
	margin-bottom: 0px;
}

.history_wrap .time_line li .box {
	display: table-cell;
}

.history_wrap .time_line li .dot {
	position: absolute;
	border-radius: 6px;
	background: #000000;
	width: 12px;
	height: 12px;
	left: -8px;
	top: 10px;
}

.history_wrap .time_line li .year {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	color: #000000;
	margin-bottom: 12px;
}

.history_wrap .time_line li .story {
	position: relative;
	line-height: 22px;
	font-size: 13px;
	color: #6f6f6f;
	letter-spacing: -0.02em;
}

.history_wrap .time_line li .story span {
	width: 24px;
	font-size: 13px;
	font-weight: 500;
	text-align: right;
	line-height: 22px;
	margin-right: 12px;
	color: #000000;
}

.en .history_wrap .time_line li .story span {
	position: absolute;
	line-height: 1.6;
	left: 0;
}

.ci_wrap {
	position: relative;
	margin-top: 142px;
}

.ci_wrap .intro {
	position: relative;
}

.ci_wrap .intro .info {
	display: block;
	padding: 0 20px;
}

.ci_wrap .intro .diag {
	margin-top: 30px;
	position: relative;
	text-align: center;
	padding: 0 20px;
}

.ci_wrap .intro .diag img {
	width: 320px;
	height: 102px;
}

.ci_wrap .intro .title {
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	margin: 80px 0 50px 0;
}

.ci_wrap .info li {
	padding: 30px 0;
	width: 100%;
	border-top: 1px solid #000000;
	float: left;
}

.ci_wrap .info li:last-child {
	margin-right: 0;
}

.ci_wrap .info li .tag {
	line-height: 22px;
	margin-bottom: 2px;
	font-size: 13px;
	color: #000000;
}

.ci_wrap .info li .ctitle {
	line-height: 30px;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: 500;
	text-align: left;
	color: #000000;
}

.ci_wrap .info li .bcopy {
	font-size: 13px;
	line-height: 22px;
	color: #6f6f6f;
}

.en .ci_wrap .info li .bcopy {
	line-height: 1.4;
}

.ci_wrap .logo {
	position: relative;
	padding: 0 20px;
}

.ci_wrap .logo .soft_logo {
	display: block;
	margin: 50px 0 30px;
}

.ci_wrap .logo .soft_logo .mtitle {
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

.ci_wrap .logo .soft_logo .stitle {
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	color: #6f6f6f;
	margin-bottom: 60px;
}

.ci_wrap .logo .log_box {
	position: relative;
	padding: 45px 0;
	background-color: #f9f9f9;
	text-align: center;
}

.ci_wrap .logo .log_box img {
	height: 60px;
}

.ci_wrap .logo .watermark {
	position: relative;
}

.ci_wrap .logo .watermark li {
	display: table;
	width: 100%;
	margin-right: 20px;
}

.ci_wrap .logo .watermark li .title {
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	font-weight: 500;
	margin: 30px 0 10px;
}

.ci_wrap .logo .watermark li .tag {
	font-size: 14px;
	color: #666666;
	line-height: 21px;
	margin-bottom: 20px;
}

.ci_wrap .logo .watermark li .length {
	height: 150px;
	padding: 59px 0;
	text-align: center;
	background-color: #f9f9f9;
}

.ci_wrap .logo .watermark li .breadth {
	height: 150px;
	padding: 46px 0;
	text-align: center;
	background-color: #f9f9f9;
}

.ci_wrap .logo .watermark li:last-child {
	margin-right: 0;
}

.ci_wrap .logo .watermark li .wimg01 {
	height: 100%;
}

.ci_wrap .logo .watermark li .wimg02 {
	height: 100%;
}

.ci_wrap .color {
	position: relative;
}

.ci_wrap .soft_color {
	display: block;
	padding: 0 20px;
	margin: 80px 0 30px;
}

.ci_wrap .soft_color .mtitle {
	font-size: 22px;
	line-height: 30px;
	font-weight: 500;
	text-align: center;
	color: #000000;
	margin-bottom: 12px;
}

.ci_wrap .soft_color .stitle {
	font-size: 13px;
	line-height: 22px;
	text-align: center;
	color: #6f6f6f;
}

.en .ci_wrap .soft_color .stitle{
	line-height: 1.4;
}

.ci_wrap .color_box {
	position: relative;
	padding: 0 20px;
}

.ci_wrap .color_box .red {
	width: 100%;
	background-color: #E60012;
	padding: 24px 20px;
	float: left;
}

.ci_wrap .color_box .orn {
	width: 100%;
	background-color: #F08200;
	padding: 24px 20px;
	float: left;
}

.ci_wrap .color_box .whi {
	width: 50%;
	background-color: #ffffff;
	border: 1px solid #E6E6E6;
	padding: 24px 20px;
	float: left;
}

.ci_wrap .color_box .bla {
	width: 50%;
	background-color: #231815;
	border: 1px solid #231815;
	padding: 24px 20px;
	float: left;
}

.ci_wrap .color_box .title {
	line-height: 22px;
	margin-bottom: 16px;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

.ci_wrap .color_box .bcopy {
	line-height: 14px;
	font-size: 10px;
	color: #ffffff;
	letter-spacing: -0.01em;
}

.ci_wrap .color_box .whi .title {
	color: #000000;
}

.ci_wrap .color_box .whi .bcopy {
	line-height: 14px;
	font-size: 10px;
	color: #000000;
}

.edu_wrap {
	position: relative;
}

.educa {
	position: relative;
	background: #FBFBFB;
}

.educa .ceo {
	position: relative;
}

.educa .ceo img {
	height: 224px;
}

.educa .info {
	position: relative;
	padding: 20px 20px 50px;
}

.educa .info .title {
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 12px;
}

.educa .info .stitle {
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 12px;
}

.educa .info .bcopy {
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 12px;
}

.educa .info .sign {
	font-size: 14px;
	line-height: 22px;
	text-align: right;
	color: #000000;
}

.edu_list {
	display: block;
	width: 100%;
	padding: 0 20px;
}

.edu_list li {
	width: 100%;
	margin: 0 18px 50px 0;
}

.edu_list li:last-child {
	margin: 0 18px 0 0;
}

.edu_list li .list_img {
	width: 100%;
	aspect-ratio: 10 / 7;
}

.edu_list li .bcopy {
	margin-top: 20px;
	font-size: 16px;
	line-height: 25px;
	color: #000000;
	height: 50px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.edu_list li .list_img img {
	width: 100%;
	height: 100%;
  object-fit: cover;
}

.edu_wrap .title {
	line-height: 30px;
	padding: 0 20px;
	margin: 50px 0;
	font-size: 22px;
	font-weight: 500;
	color: #000000;
}

.esg {
	position: relative;
	background: #f9f9f9;
}

.esg .info {
	position: relative;
	width: 100%;
	padding: 80px 20px 80px;
}

.esg .info .title {
	font-size: 22px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 12px;
}

.esg .info .stitle {
	line-height: 22px;
	font-size: 13px;
	letter-spacing: -0.03em;
}

.esg .info .box {
	position: relative;
	margin-top: 60px;
}

.esg .info .box li {
	display: block;
}

.esg .info .box .btitle {
	position: relative;
	width: 100%;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 12px;
	color: #000000;
}

.esg .info .box .bcopy {
	position: relative;
	width: 100%;
	line-height: 22px;
	margin-bottom: 50px;
	font-size: 13px;
	letter-spacing: -0.03em;
}

.esg .info .sign {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
}

.esg .info .sign span {
	line-height: 26px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 400;
	color: #313131;
}


.conte_wrap {
	position: relative;
}


.board_box {
	display: block;
}

.board_box .total {
	text-align: right;
	padding: 8px 10px;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
}

.board_box .poto {
	width: 100%;
	margin-bottom: 20px;
}

.board_box .poto img {
	width: 100%;
}

.board_box .list {
	float: left;
	width: 100%;
	padding: 10px 20px 20px;
}

.board_box .list a {
	color: #000000;
}

.board_box .catalog {
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #FF5F00;
	margin-bottom: 12px;
}

.board_box .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 50px;
	line-height: 25px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board_box .bcopy {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 68px;
	line-height: 22px;
	margin-bottom: 30px;
	font-size: 13px;
	color: #6F6F6F;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board_box .data {
	display: block;
	font-size: 13px;
	line-height: 20px;
	color: #6F6F6F;
}

.board_list {
	border-top: 1px solid #E6E6E6;
	padding: 0 20px;
}

.board_list li {
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #E6E6E6;
}

.board_list li a {
	display: block;
	overflow: hidden;
	padding: 20px 0;
}

.board_list li .catalog {
	display: block;
	font-size: 12px;
	line-height: 16px;
	float: left;
	width: 150px;
	color: #FF5F00;
	padding-bottom: 4px;
}

.board_list li .title {
	float: left;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	width: 100%;
	line-height: 25px;
	font-size: 16px;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board_list li .data {
	float: left;
	display: block;
	width: 80px;
	line-height: 16px;
	margin-top: 20px;
	font-size: 12px;
	color: #6F6F6F;
}


.view_box {
	display: block;
	padding: 0 20px;
}

.view_box .view {
	position: relative;
	width: 100%;
}

.view_box .view .poto {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.view_box .view .poto img {
	width: 100%;
}

.view_box .view .bcopy {
	margin-top: 20px;
	font-size: 13px;
	line-height: 22px;
	color: #6F6F6F;
}

.view_box .data {
	display: block;
	font-size: 12px;
	line-height: 16px;
	color: #6F6F6F;
	padding-bottom: 18px;
	margin: 16px 0 50px 0;
	border-bottom: 1px solid #000000;
}

.view_list {
	border-top: 1px solid #E6E6E6;
	margin: 30px 20px 0;
}

.view_list li {
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #E6E6E6;
}

.view_list li a {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 14.5px 0;
	overflow: hidden;
}

.view_list li .arrow {
	flex-shrink: 0;
	position: relative;
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.view_list li .catalog {
	flex-shrink: 0;
	float: left;
	display: block;
	width: 60px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

.view_list li .title {
	float: left;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	width: auto;
	font-size: 14px;
	color: #6f6f6f;
	text-overflow: ellipsis;
	overflow: hidden;
}

.view_list li .data {
	display: none;
	font-size: 14px;
	line-height: 22px;
	float: left;
	width: 80px;
	color: #6F6F6F;
	text-align: right;
	padding-top: 3px;
}

.view_list li img {
	width: 100%;
	height: 100%;
}

.btn_box {
	margin-top: 50px;
	text-align: center;
}

.btn_box a {
	display: block;
	color: #000000;
	width: 273px;
	border: 1px solid #000;
	margin: 0 auto;
}

.btn_box>a:hover,
.btn_box>a.active {
	background-color: #000000;
	color: #ffffff;
}

.btn_box>a {
	display: block;
	color: #000000;
	width: 248px;
	border: 1px solid #000;
	margin: 0 auto;
	z-index: 99;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.btn_box a.btn_list {
	line-height: 22px;
	padding: 15px 0;
	font-size: 13px;
	font-weight: 500;
}

.paging {
	display: block;
	position: relative;
	padding: 10px 0;
	width: max-content;
	margin: 40px auto 0;
}

.paging.type02 {
	padding: 0;
	margin-top: 68px;
}

.paging .pre {
	float: left;
	display: none;
	width: 32px;
}

.paging .pre.active {
	display: block;
}

.paging .next {
	float: left;
	display: none;
	width: 32px;
}

.paging .next.active {
	display: block;
}

.paging .pre > a,
.paging .next > a {
	display: block;
}

.paging .number {
	float: left;
	/* width: 200px; */
	padding-top: 4px;
	text-align: center;
}

.paging .number a {
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 0 14px;
	text-align: center;
	color: #bbb;
}

.paging .number a:hover {
	color: #000;
}

.paging .number a.select {
	color: #000;
}

.map_box {
	display: block;
}

.map_box .view {
	position: relative;
	width: 100%;
}

.map_box img {
	width: 100%;
}

.map_box .poto {
	width: 100%;
	height: 220px;
	padding: 0 20px;
}

.map_box .poto .maps {
	width: 100%;
}

.map_box .info {
	position: relative;
	margin-top: 30px;
	padding: 0 20px;
}

.map_box .info .softmill {
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #e6e6e6;
}

.map_box .info .title {
	font-size: 22px;
	line-height: 30px;
	color: #000000;
	margin-bottom: 25px;
}

.map_box .info p {
	line-height: 22px;
	margin-bottom: 25px;
	font-size: 14px;
	color: #6f6f6f;
}

.map_box .info span {
	display: block;
	font-size: 16px;
	line-height: 25px;
	color: #000000;
	margin-right: 20px;
	margin-bottom: 10px;
}

.map_box .info .traffic {
	position: relative;
}

.map_box .info .traffic .tit {
	position: relative;
	font-size: 16px;
	line-height: 25px;
	color: #000000;
}

.map_box .info .traffic .bcopy {
	position: relative;
	line-height: 22px;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 14px;
}


.client_list {
	display: block;
	padding: 0;
	margin: 20px 20px 0;
	border-left: 1px solid #e6e6e6;
}

.client_list li {
	float: left;
	width: 50%;
	padding: 21px 0;
	margin-top: -1px;
	border: 1px solid #e6e6e6;
	border-left: none;
	text-align: center;
}

.client_list li img {
	height: 64px;
}

/* 설치사례 내용 (editor) 스타일 */
#editor_wrap img {
	width: 100% !important;
}

#editor_wrap > div,
#editor_wrap > p,
#editor_wrap td > p {
	line-height: 2 !important;
}

#editor_wrap table {
	border: 1px solid #444444;
	border-collapse: collapse;
}

#editor_wrap th, 
#editor_wrap td {
	border: 1px solid #444444;
}

#editor_wrap .se-component-content {
	padding: 0 !important;
}
/* //설치사례 내용 (editor) 스타일 */