/* customer */


.custo_Wrap {
	position: relative;
	margin-top: 46px;
	padding: 30px 20px 0;
	border-top: 1px solid #e6e6e6;
}

.custo_Wrap .title {
	position: relative;
	font-size: 22px;
	line-height: 30px;
	color: #000;
	margin-bottom: 50px;
	text-align: left;
}

.custo_Wrap .heading {
	font-size: 22px;
	font-weight: 500;
}

.custo_Wrap .title .desc {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 27px;
	font-size: 13px;
	color: #4a4a4a;
	text-align: left;
}

.custo_Wrap .title em {
	color: #FF5C00;
}

.custo_Wrap .forms {
	position: relative;
	margin-bottom: 50px;
}

.custo_Wrap .forms .name {
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	color: #000;
	text-align: left;
	margin-bottom: 20px;
}

.custo_Wrap .forms .names {
	position: relative;
	line-height: 26px;
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-align: left;
}

.custo_Wrap .forms .tag {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
}

.custo_Wrap .forms .tag button {
	position: relative;
	width: fit-content;
	line-height: 20px;
	padding: 15px 40px 15px 20px;
	margin-bottom: 6px;
	background: #F9F9F9;
	font-size: 15px;
	color: #000000;
}

.custo_Wrap .forms .tag button:last-child {
	margin-bottom: initial;
}

.custo_Wrap .forms .tag a {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 10px;
	height: 10px;
}

.custo_Wrap .forms .tag img {
	width: 10px;
	height: 10px;
}

.form-item {
	position: relative;
	font-size: 14px;
	line-height: 22px;
	color: #000;
	text-align: left;
}

.eorr {
	display: none;
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #FF2020;
	text-align: left;
}

.eorr.active {
	display: block
}

.eorrs {
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #FF2020;
	text-align: left;
}

.attach {
	position: relative;
	padding-left: 18px;
	margin-top: 16px;
}

.attach .file {
	position: relative;
	width: fit-content;
	max-width: 100%;
	line-height: 42px;
	padding-right: 20px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.attach .file span {
	position: absolute;
	top: 50%;
	right: 0;
  transform: translateY(-50%);
	width: 10px;
	height: 10px;
	margin-left: 10px;
	background: url('../images/icon/close.png') no-repeat center / 100%;
}

.form-input {
	display: block;
	height: 46px;
	line-height: normal;
	width: 100%;
	padding: 12px 0;
	border-bottom: solid 1px #000000;
	font-size: 14px;
	font-weight: 500;
	color: #000;
}

.form-input.warning {
	border-bottom-color: #FF2020;
}

.form-input::placeholder {
	font-size: 14px;
	font-weight: 400;
	color: #bbb;
}

.form-input-eorr {
	border-bottom: solid 1px #FF2020;
	display: block;
	width: 100%;
	padding: 12px 0;
	color: #000;
	font-size: 14px;
	line-height: 22px;
	line-height: normal;
	height: 46px;
}

.btn-more {
	line-height: 22px;
	padding: 12px 36px;
	background: #000;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}

.form-input-text {
	border: solid 1px #000000;
	display: block;
	width: 100%;
	padding: 16px 20px;
	color: #000;
	font-size: 14px;
	line-height: normal;
	height: 280px;
	resize: none;
	outline: none;
}

.form-input-text.warning {
	border-color: #FF2020;
}

.form-input-text::placeholder {
	font-size: 14px;
	font-weight: 400;
	color: #bbb;
}

.form-input-text-eorr {
	border: solid 1px #FF2020;
	display: block;
	width: 100%;
	padding: 16px 20px;
	color: #000;
	font-size: 14px;
	line-height: normal;
	height: 280px;
	resize: none;
	outline: none;
}

.marT {
	margin-top: 22px;
}

.marB {
	margin-bottom: 0;
}

.custo_Wrap .forms .name em {
	color: #FF5C00;
}

.custo_Wrap .forms .names em {
	color: #FF5C00;
}

.explan {
	position: relative;
	margin-top: -34px;
}

.desc {
	line-height: 16px;
	padding-left: 14px;
	font-size: 12px;
	color: #929292;
	text-align: left;
}

.desc em {
	color: #000000;
}

.bate {
	position: absolute;
	top: 4px;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 16px;
	font-size: 12px;
}

.bate em {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 2px;
	font-weight: 500;
	color: #000000;
}

.combo_boxs {
	float: left;
	width: 48%;
	height: 41px;
	margin-right: 4%;
}

.combo_boxs:last-child {
	margin-right: 0;
}

.aree {
	position: relative;
	width: 100%;
	padding: 20px 10px 20px 20px;
	background-color: #F9F9F9;
}

.aree > article {
	height: 116px;
	line-height: 22px;
	padding-right: 24px;
	font-size: 13px;
	text-align: initial;
	letter-spacing: -0.03em;
	overflow-y: auto;
}

.aree > article::-webkit-scrollbar {
	width: 4px;
}

.aree > article::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 2px;
	background-color: #d9d9d9;
}

.aree > article > span {
	color: #313131;
}

.aree textarea {
	width: 100%;
	height: 140px;
	font-size: 13px;
	line-height: 20px;
	padding: 0 8px 0 0;
	counter-reset: #6f6f6f;
	background-color: #F9F9F9;
	border: none;
	resize: none;
	outline: none
}

.aree textarea:focus {
	border: none;
}

.write {
	display: block;
}

.keep_check {
	position: relative;
	margin-top: 16px;
	text-align: left;
}

.keep_check .input_keep {
	position: absolute;
	top: 2px;
	left: 3px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.keep_check .keep_text {
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
	color: #222222;
	padding: 6px 0;
}

input#chk_top {
	display: none;
}

input#chk_top+label {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	cursor: pointer;
}

input#chk_top+label:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 30px;
	background: url('../images/icon/chk_normal.svg') no-repeat 0 0;
	background-size: 100% 100%;
	vertical-align: middle;
	margin-right: 7px;
}

input#chk_top:checked+label:before {
	content: "";
	background: url('../images/icon/chk_check.svg') no-repeat 0 0;
	background-size: 100% 100%;
	border: none;
	width: 20px;
	height: 20px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.btn_send {
	position: relative;
	text-align: center;
}

.btn_send button {
	width: 100%;
	line-height: 25px;
	padding: 16px 84px;
	background: #000000;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.btn_send button:active {
	width: 100%;
	line-height: 25px;
	padding: 16px 84px;
	background: #E6E6E6;
	font-size: 16px;
	color: #bbb;
}

.pop_product {
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}

.pop_product_list {
	position: relative;
	left: 0;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 20px;
}

.pop_product_list li {
	flex-shrink: 0;
	width: calc(50% - 30px);
	background: #F9F9F9;
	margin: 0 20px 0 10px;
}

.pop_product_list li:not(:nth-child(2n)) {
	width: calc(50% - 20px);
	margin: 0 0 0 20px;
}

.pop_product_list li.selected {
	border: 1px solid #313131;
}

.pop_product_list .btn_close {
	position: absolute;
	right: 0;
	top: 0;
}

.pop_product_list li a,
.pop_product_list li > div {
	position: relative;
	display: block;
	height: 180px;
	padding: 24px 0 10px;
	text-align: center;
	border: 1px solid #F9F9F9;
	margin: 0 auto;
}

.pop_product_list li a.on {
	border: 1px solid #000000;

}

.pop_product_list li .img_size {
	width: 76px;
	height: 76px;
}

.pop_product_list li .tag {
	text-align: center;
	color: #6F6F6F;
	font-size: 13px;
	line-height: 20px;
	margin: 17px 0 2px 0;
}

.pop_product_list li .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 17px;
	max-height: 36px;
	padding: 0 20px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pop_product_list li .delete {
	position: absolute;
	right: 10px;
	top: 10px;
	background: url('../images/icon/close.png') no-repeat 0 0;
	background-size: 100% 100%;
	width: 10px;
	height: 10px;
}

.lSSlideOuter {
	padding: 0;
}

.pheader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	background: #ffffff;
	z-index: 9999;
}

.pheader .dele {
	position: absolute;
	display: block;
	top: 22px;
	right: 20px;
	background: url(../images/icon/bt_layer_close.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 14px;
	height: 14px;
}

.pheader .htitle {
	position: absolute;
	top: 18px;
	left: 20px;
	line-height: 26px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}


.alert_title {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	line-height: 26px;
	margin: 24px 20px;
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.alert_title span {
	font-size: 12px;
	font-weight: 400;
	color: #6f6f6f;
}

.alert_title em {
	color: #FF5f00;
}

.pop_forms {
	position: relative;
	margin: 20px 20px 30px;
}

.pop_combo_boxs {
	width: 100%;
	height: 46px;
	margin-bottom: 14px;
}

.botbtns {
	position: relative;
	width: 100%;
	bottom: 0;
	padding: 20px 20px 20px;
	background: #fff;
}

/* 견적 문의 - 파일 첨부 스타일 */
#user_file {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	opacity: 0;
	cursor: pointer;
}

#user_file::file-selector-button {
	display: none;
}

.attach .emptys {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
}

.attach .emptys > img {
	width: 40px;
}

.desc p {
	position: relative;
}

.desc p span {
	position: absolute;
	top: 8px;
	left: -10px;
	width: 2px;
	height: 2px;
	border-radius: 10px;
	background: #929292;
}
/* //견적 문의 - 파일 첨부 스타일 */

/* 견적 문의 - 제품 선택 팝업 스타일 */
.pop_product_list.animated {
	transition: left .3s;
}

.pop_product_select .empty {
	display: none;
	height: 180px;
	padding: initial;
	margin-bottom: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: initial;
}

.pop_product_select .empty.active {
	display: flex;
}

.pop_product_select .empty .stitle {
	text-align: center;
}

.listSwitch {
	display: flex;
	align-self: center;
	justify-content: center;
	margin-top: 32px;
}

.listSwitch > button {
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: #d9d9d9;
	transition: background-color .5s;
}

.listSwitch > button.selected {
	background-color: #FF5F00;
}

.listSwitch > button ~ button {
	margin-left: 6px;
}
/* //견적 문의 - 제품 선택 팝업 스타일 */

/* 견적 문의 - 문의 완료 팝업 스타일 */
.layer_popup_complete .pop_wrap {
	z-index: 9999;
}
/* //견적 문의 - 문의 완료 팝업 스타일 */


/* 설치 사례 상세 - 유형 & 설치제품 스타일 */
.view_title.type_reward > li {
	display: flow-root;
	padding: 18px 0;
}

.view_title.type_reward > li .catalog {
	line-height: 22px;
	font-size: 14px;
	font-weight: 500;
}

.view_title.type_reward > li .title {
	width: 61.25%;
	line-height: 22px;
	font-size: 14px;
}

.view_title.type_reward > li .title.txt_limit {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 44px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.view_title.type_reward > li .title.txt_limit.opened {
	display: initial;
	max-height: initial;
	text-overflow: initial;
	overflow: initial;
}

.view_title.type_reward > li .title.txt_limit > button {
	position: absolute;
	right: 0;
	bottom: 18px;
	width: 24px;
	height: 24px;
	background: url('../images/icon/arrow_down_type01.svg') center / 24px no-repeat;
}

.view_title.type_reward > li .title.txt_limit.opened > button {
	background-image: url('../images/icon/arrow_up_type01.svg');
}
/* //설치 사례 상세 - 유형 & 설치제품 스타일 */
