
/* customer */


.custo_Wrap {
    position: relative;
    margin-top: 46px;
    padding: 30px 20px 0;
    border-top: 1px solid #e6e6e6;
}
.custo_Wrap .title {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #000;
    margin-bottom: 50px;
    text-align: left;
}
.custo_Wrap .title .desc {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    line-height: 27px;
    color: #4a4a4a;
    text-align: left;
}
.custo_Wrap .title em {
    color: #FF5C00;
}
.custo_Wrap .forms {
    position: relative;
    margin-bottom: 60px;
}
.custo_Wrap .forms .name {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}
.custo_Wrap .forms .names {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    text-align: left;
    margin-bottom: 16px;
}
.custo_Wrap .forms .tag {
    position: relative;
    padding-top: 22px;
}
.custo_Wrap .forms .tag button{
    position: relative;
    background: #F9F9F9;
    padding: 15px 40px 15px 20px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0 8px 8px 0;
}
.custo_Wrap .forms .tag a {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
}
.custo_Wrap .forms .tag img {
    width: 10px;
    height: 10px;
}
.form-item {
    position: relative;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    text-align: left;
}
.eorr {
    display: none;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #FF2020;
    text-align: left;
}
.eorrs {
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #FF2020;
    text-align: left;
}
.attach {
    position: relative;
    margin-top: 16px;
}
.attach .file {
    position: relative;
    font-size: 14px;
    line-height: 42px;
}
.attach .file span {
    position: absolute;
    top: 14px;
    background: url('../img/menu_close.svg') no-repeat 0 0;
    background-size: 100% 100%;
    width:18px;
    height:18px;
    margin-left: 10px;
}
.form-input {
    border-bottom: solid 1px #000000;
    display: block;
    width: 100%;
    padding: 12px 0;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    line-height: normal;
    height: 46px;
}

.form-input-eorr {
    border-bottom: solid 1px #FF2020;
    display: block;
    width: 100%;
    padding: 12px 0;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    line-height: normal;
    height: 46px;
}

.btn-more {
    background: #000;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 36px;
}
.form-input-text {
    border: solid 1px #000000;
    display: block;
    width: 100%;
    padding: 16px 20px;
    color: #000;
    font-size: 14px;
    line-height: normal;
    height: 280px;
    resize: none;
    outline: none;
}
.form-input-text-eorr {
    border: solid 1px #FF2020;
    display: block;
    width: 100%;
    padding: 16px 20px;
    color: #000;
    font-size: 14px;
    line-height: normal;
    height: 280px;
    resize: none;
    outline: none;
}
.marT {
    margin-top: 22px;
}
.marB {
    margin-bottom: 0;
}
.custo_Wrap .forms .name em {
    color: #FF5C00;
}
.custo_Wrap .forms .names em {
    color: #FF5C00;
}
.explan {
    position: relative;
    margin-top: -40px;
    position: relative;
}
.desc {
    color: #929292;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}
.desc em {
    color: #000000;
}
.bate {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    top: 4px;
    right: 0;
}
.bate em {
    color: #000000;
}
.combo_boxs {
    float: left;
    width: 48%;
    height: 46px;
    margin-right: 4%;
}
.combo_boxs:last-child {
    margin-right: 0;
}
.aree {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: #F9F9F9;
}
.aree textarea {
    width: 100%;
    height: 140px;
    font-size: 13px;
    line-height: 20px;
    padding: 0 8px 0 0;
    counter-reset: #6f6f6f;
    background-color: #F9F9F9;
    border: none;
    resize: none;
    outline:none
}
.aree textarea:focus{
    border: none;
}
.write {
    display: block;
}
.keep_check {
    position: relative;
    margin-top: 16px;
    text-align: left;
}
.keep_check .input_keep {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.keep_check .keep_text {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    padding: 6px 0;
}

input#chk_top{
    display:none;
}
input#chk_top + label{
    cursor:pointer;
    color: #000;
}
input#chk_top + label:before{
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    line-height:30px;
    background: url('../img/chk_normal.svg') no-repeat 0 0;
    background-size: 100% 100%;
    vertical-align:middle;
    margin-right: 7px;
}  
input#chk_top:checked + label:before{
    content:"";
    background: url('../img/chk_check.svg') no-repeat 0 0;
    background-size: 100% 100%;
    border:none;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align:center;
}

.btn_send {
    position: relative;
    margin-top: 50px;
    text-align: center;
}
.btn_send button{
    width: 100%;
    padding: 16px 84px;
    color: #fff;
    background: #000000;
    font-size: 16px;
    line-height: 25px;
}
.btn_send button:active{
    width: 100%;
    padding: 16px 84px;
    color: #bbb;
    background: #E6E6E6;
    font-size: 16px;
    line-height: 25px;
}
.pop_product {
    overflow: hidden;
    margin-bottom: 50px;
}
.pop_product_list {
    display: block;
    margin-top: 20px;
}
.pop_product_list li {
    float: left;
    width: 155px;
    background: #F9F9F9;
    margin: 0 10px 10px 0;
    overflow: hidden;
}
.pop_product_list li:last-child {
        margin: 0 0 10px 0;
}
.pop_product_list .btn_close {
    position: absolute;
    right: 0;
    top: 0;
}
.pop_product_list li a {
    position: relative;
    display: block;
    height: 180px;
    padding: 24px 0 10px;
    text-align: center;
    border: 1px solid #F9F9F9;
    margin: 0 auto;
}
.pop_product_list li a.on {
    border: 1px solid #000000;
    
}
.pop_product_list li .img_size {
    width: 64px;
    height: 76px;
}
.pop_product_list li .tag {
    text-align: center;
    color: #6F6F6F;
    font-size: 13px;
    line-height: 20px;
    margin: 17px 0 2px 0;
}
.pop_product_list li .title {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-top: 20px;
    text-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 38px;
}
.pop_product_list li .delete {
    position: absolute;
    right: 10px;
    top: 10px;
    background: url('../img/close.png') no-repeat 0 0;
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
}
.lSSlideOuter {
    padding: 0;
}
.pheader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background: #ffffff;
    z-index: 9999;
}
.pheader .dele {
    position: absolute;
    display: block;
    top: 22px;
    right: 20px;
    background: url(../img/bt_layer_close.png)no-repeat 0 0;
    background-size: 100% 100%;
    width: 14px;
    height: 14px;
}
.pheader .htitle {
    position: absolute;
    top:18px;
    left: 20px;    
    font-size: 18px;
    line-height: 26px;
    color: #000;
}


.alert_title {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    margin: 24px 20px;
}
.alert_title span{
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 13px;
    line-height: 20px;
    margin-left: 40px;
    vertical-align: middle;
    color: #4a4a4a;
}
.alert_title em {
    color: #FF5C00;
}
.pop_forms {
    position: relative;
    margin: 20px 20px 30px;
}
.pop_combo_boxs {
    width: 100%;
    height: 46px;
    margin-bottom: 14px;
}
.pop_product_select {
    height: 172px;
    margin: 20px 20px 0;
}
.botbtns{
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 20px 20px 20px;
    background: #fff;
}