@charset 'utf-8';
@import url('layout.css');
@import url('company.css');
@import url('skill.css');
@import url('product.css');
@import url('service.css');
@import url('main.css');
@import url('font.css');

* {
	box-sizing: border-box
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

fieldset,
img {
	border: 0 none;
}

dl,
li,
menu,
ol,
ul {
	list-style: none
}

div:after,
dl:after,
ul:after {
	content: '';
	display: block;
	clear: both
}

blockquote,
q {
	quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}

button,
input,
select,
textarea {
	border-radius: 0;
	vertical-align: middle
}

img {
	font-size: 0;
	line-height: 0;
	vertical-align: top
}

input::-ms-clear {
	display: none
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}

body {
	background: #fff;
	direction: ltr;
	-webkit-text-size-adjust: none;
	color: #6f6f6f;
}

body.bgWhite {
	background: #fff;
}

body,
button,
input,
select,
td,
textarea,
th {
	font-size: 16px;
	line-height: 1;
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	font-weight: 400;
	color: #6f6f6f;
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

a:active {
	background-color: transparent
}

address,
caption,
cite,
code,
dfn,
em,
var {
	font-style: normal;
	font-weight: 400
}

iframe {
	border: 0;
	width: 100%;
	height: 100%
}

body {
	position: relative
}

table {
	empty-cells: show;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%
}

caption {
	visibility: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	height: 0
}

.blind,
.hide,
caption,
hr {
	display: inline-block !important;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0;
	line-height: 0;
	border: 0 !important;
	overflow: hidden !important
}

input {
	width: 100%;
	border: 0;
	background: transparent;
	outline: 0;
}

input::placeholder {
	color: #bbbbbb;
	font-size: 20px;
}

#sknavi {
	position: absolute;
	z-index: 1000;
}

#sknavi p a {
	position: absolute;
	top: -200px
}

#sknavi p a:active,
#sknavi p a:focus {
	top: 1px;
	left: 0;
	display: block;
	width: 150px;
	color: #fff;
	padding: 5px 3px 0 3px;
	margin-left: 5px;
	text-align: center;
	font-size: 100%;
	font-weight: 700;
	background: #115aa3;
	text-decoration: none
}

.elip {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.so {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px
}

.fl {
	float: left;
}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.hip {
	text-indent: -25px;
	margin-left: 25px
}

.pt10 {
	padding-top: 10px
}

.pl110 {
	padding-left: 110px
}

.pl70 {
	padding-left: 70px
}

.mt0 {
	margin-top: 0 !important
}

.mt5 {
	margin-top: 5px !important
}

.mt30 {
	margin-top: 30px !important
}

.mt40 {
	margin-top: 40px !important
}

.mt50 {
	margin-top: 50px !important
}

.mt60 {
	margin-top: 60px !important
}

.fwb {
	font-family: 'Pretendard';
	font-weight: 700;
}

.btn_c_area {
	text-align: center;
	padding: 50px 0 100px 0;
}

.btn_cover_player {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background: url(../img/main/bt_bgo_player.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 93px;
	height: 93px;
	z-index: 10
}

.btn_page_more {
	width: 460px;
	height: 46px;
	border: 1px solid #9c9c9c;
	text-align: center;
	color: #141414;
	font-size: 14px;
}

.btn_layer_close {
	background: url('../img/common/bt_layer_close.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.layer_popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.layer_popup.active {
	display: block;
	background-color: initial;
}

.dim_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
}

.player_wrap {
	position: absolute;
	width: 900px;
	height: 506.6px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.youtube_wrap {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 비율인 경우 */
	/* padding-bottom값은 4:3 비율인 경우 75%로 설정합니다 */
	padding-top: 25px;
	height: 0;
}

.youtube_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player_wrap .btn_layer_close {
	position: absolute;
	right: 0;
	top: -30px;
}

.popcont_wrap {
	position: fixed;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 760px;
	height: 942px;
	padding: 50px 37px 50px 50px;
	margin: 40px auto;
}

.pop_wrap {
	position: fixed;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 370px;
	height: 290px;
	padding: 50px 50px;
	margin: 40px auto;
}

.products_wrap {
	position: fixed;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	width: 1300px;
	height: 850px;
	padding: 50px 50px;
	margin: 40px auto;
}

.comm_popup_wrap .pic_area {
	width: 120px;
	float: left;
}

.comm_popup_wrap .pic_area .img {
	width: 120px;
}

.comm_popup_wrap .pic_area .img img {
	max-width: 100%;
}

.comm_popup_wrap .pic_area .snss {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.comm_popup_wrap .info_area {
	width: 500px;
	margin-left: 155px;
}

.comm_popup_wrap .info_area .name {
	color: #141414;
	font-family: 'Pretendard';
	font-weight: 400;
	font-size: 22px;
	margin-top: 15px;
}

.comm_popup_wrap .info_area .desc {
	color: #3c3c3c;
	font-size: 14px;
	margin-top: 10px;
	line-height: 1.54;
}

.comm_popup_wrap .info_area .tags {
	margin-top: 15px;
}

.comm_popup_wrap .info_area .tags span {
	display: inline-block;
	background: #f8f8f8;
	border-radius: 15px;
	padding: 9px 10px;
	color: #505050;
	font-size: 11px;
}

.comm_popup_wrap .info_area .detail {
	color: #666666;
	line-height: 1.83;
	font-size: 12px;
	margin-top: 25px;
}

.comm_popup_more {
	border-top: 1px solid #f0f0f0;
	padding-top: 30px;
	margin-top: 30px;
}

.comm_popup_more ul {
	display: block;
}

.comm_popup_more li {
	float: left;
	width: 50%;
	margin-bottom: 10px;
}

.comm_popup_more li a {
	display: block;
}

.comm_popup_more li a .th_img {
	width: 100px;
	float: left;
}

.comm_popup_more li a .text_wrap {
	margin: 0 20px 0 120px;
}

.comm_popup_more li a .text_wrap .cate {
	color: #ff7d5f;
	font-family: 'Pretendard';
	font-weight: 700;
	font-size: 11px;
}

.comm_popup_more li a .text_wrap .title {
	color: #141414;
	line-height: 1.29;
	font-size: 14px;
	margin-top: 5px;
}

.pop_close_btn {
	display: inline-block;
	position: absolute;
	right: 55px;
	top: 60px;
	z-index: 9999;
}

.pop_close_btn .btn_close {
	display: block;
	background: url('../img/bt_layer_close.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 14px;
	height: 14px;
}

.pc_show {
	display: block;
}

.mb_show {
	display: none;
}



.combo_box {
	width: 171px;
	height: 56px;
	position: absolute;
	right: 0;
	top: 0;
}

.combo_wrap {
	position: relative;
	border-bottom: solid 1px #000000;
	height: 56px;
}

.combo_wrap::after {
	display: block;
	content: '';
	clear: both;
}

.combo_wrap .text_fd {
	position: absolute;
	left: 2px;
	top: 13px;
	color: #141414;
	display: block !important;
	width: 171px;
	font-size: 18px;
	line-height: 30px;
	opacity: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.combo_wrap .text_fd.selected {
	color: #141414;
	opacity: 1;
}

.combo_wrap .btn_drop_show {
	position: absolute;
	right: 0;
	top: 12px;
	display: block;
	background: url(../img/arrow_down.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.combo_wrap .btn_drop_close {
	position: absolute;
	right: 0;
	top: 12px;
	display: block;
	background: url(../img/arrow_up.png) no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.combo_wrap .drop_wrap {
	display: block;
	position: absolute;
	left: 0;
	top: 56px;
	background: #fff;
	width: 100%;
	border: solid 1px #000000;
	border-top: 0;
	z-index: 100;
}

.combo_wrap .drop_wrap ul {
	margin: 12px 0;
}

.combo_wrap .drop_wrap li {
	line-height: 2.75;
	width: 100%;
	padding: 0;
	margin-left: 0;
	border-bottom: 0;
}

.combo_wrap .drop_wrap li a {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding-left: 20px;
}

.combo_wrap .drop_wrap li a:hover {
	color: #FF5F00;
}

.board_title {
	position: relative;
	font-size: 40px;
	line-height: 58px;
	color: #000;
	margin: 20px 0 40px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 116px;
}

.reward_list {
	display: block;
	width: 1320px;
	margin: 0 auto;
	margin-top: 60px;
}

.reward_list li {
	float: left;
	width: 428px;
	margin: 0 18px 130px 0;
}

.reward_list li:nth-child(3n) {
	margin: 0 0 130px 0;
}

.reward_list li .list_img {
	width: 428px;
	height: 300px;
}

.reward_list li .list_img img {
	width: 100%;
	height: 100%;
}

.reward_list li .tag {
	font-size: 13px;
	color: #FF5F00;
	line-height: 20px;
	margin: 40px 0 8px 0;
}

.reward_title_Wrap {
	width: 1320px;
	height: 80px;
	margin: 0 auto;
}

.reward_list li .title {
	font-size: 22px;
	line-height: 35px;
	color: #000000;
	height: 70px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 15px;
}

.reward_list li .bcopy {
	font-size: 14px;
	line-height: 27px;
	color: #6f6f6f;
}

.view_title {
	position: relative;
	display: block;
	border-top: 1px solid #000;
	margin-bottom: 100px;
}

.view_title li {
	position: relative;
	padding: 20px;
	height: 66px;
	border-bottom: 1px solid #E6E6E6;
}

.view_title li .catalog {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 150px;
	color: #000000;
}

.view_title li .title {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 1058px;
	color: #6f6f6f;
	padding-top: 3px;
}


.reward_product_list {
	display: block;
	width: 4380px;
	overflow: hidden;
}

.reward_product_list li {
	width: 315px;
	text-align: center;
	float: left;
	background: #F9F9F9;
	margin-right: 20px;
	overflow: hidden;
}

.reward_product_list li:last-child {
	margin-right: 0;
}

.reward_product_list li a {
	text-align: center;
	display: block;
	width: 315px;
	height: 460px;
	padding: 89px 40px 40px;
}

.reward_product_list .pro_img {
	width: 177px;
	height: 209px;
}

.reward_product_list .tag {
	font-size: 13px;
	line-height: 15px;
	color: #6f6f6f;
	margin: 49px 0 8px 0;
	text-align: center;
}

.reward_product_list .title {
	font-size: 20px;
	line-height: 24px;
	color: #000;
	margin-top: 69px;
	text-align: center;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 48px;
}

.item {
	padding-top: 80px;
	margin-top: 130px;
	border-top: 1px solid #e6e6e6;
	width: 1320px;
	overflow: hidden;
}

.item .title_inst {
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin-bottom: 50px;
}

.lSSlideOuter {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.lightSlider:before,
.lightSlider:after {
	content: " ";
	display: table;
}

.lightSlider {
	overflow: hidden;
	margin: 0;
}

.lSSlideWrapper {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}

.lSSlideWrapper>.lightSlider:after {
	clear: both;
}

.lSSlideWrapper .lSSlide {
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: all 1s;
	-webkit-transition-property: -webkit-transform, height;
	-moz-transition-property: -moz-transform, height;
	transition-property: transform, height;
	-webkit-transition-duration: inherit !important;
	transition-duration: inherit !important;
	-webkit-transition-timing-function: inherit !important;
	transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
	position: relative;
}

.lSSlideWrapper .lSFade>* {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 9;
	margin-right: 0;
	width: 100%;
}

.lSSlideWrapper.usingCss .lSFade>* {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transition-duration: inherit !important;
	transition-duration: inherit !important;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: inherit !important;
	transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade>*.active {
	z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade>*.active {
	opacity: 1;
}

.lSPager.lSpg {
	margin: 50px 0 0;
	padding: 0;
	text-align: center;
}

.lSPager.lSpg>li {
	cursor: pointer;
	display: inline-block;
	padding: 0 5px;
}

.lSPager.lSpg>li:hover a,
.lSPager.lSpg>li.active a {
	background-color: #FF5F00;
}

.lSPager.lSpg>li a {
	background-color: #d6d6d6;
	border-radius: 30px;
	display: inline-block;
	height: 8px;
	overflow: hidden;
	text-indent: -999em;
	width: 8px;
	position: relative;
	z-index: 99;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.board_list_L {
	position: relative;
	display: block;
}

.board_list_L li {
	overflow: hidden;
	position: relative;
	padding-bottom: 100px;
	margin-top: 100px;
	border-bottom: 1px solid #E6E6E6;
}

.board_list_L>li a:hover,
.board_list_L>li a.active {
	background: url('../img/download_w_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	background-color: #000000;
	color: #ffffff;

}

.board_list_L>li a {
	position: absolute;
	right: 0;
	top: 0;
	color: #000;
	font-size: 16px;
	line-height: 22px;
	padding: 12px 35px 11px 32px;
	border: 1px solid #000;
	background: url('../img/download_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.board_list_L li .catalog {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #FF5F00;
	padding-bottom: 12px;
}

.board_list_L li .title {
	display: block;
	font-size: 26px;
	line-height: 31px;
	color: #000000;

}

.board_list_L li .data {
	display: block;
	font-size: 16px;
	line-height: 26px;
	float: left;
	width: 80px;
	color: #6F6F6F;
	text-align: right;
	padding-top: 5px;
}

.top_search {
	position: relative;
}

.search {
	float: right;
	width: 375px;
	right: 0;
}

.search button {
	position: absolute;
	right: 0;
	top: 11px;
	width: 32px;
	height: 32px;
	z-index: 999;
}

.search button img {
	width: 32px;
	height: 32px;
}

.empty {
	position: relative;
	text-align: center;
	padding: 37px 20px 37px;
	margin-bottom: 20px;
	border: 1px dotted #bbbbbb;
	border-style: dotted;
}

.empty .bg_img {
	width: 48px;
	height: 48px;
}

.empty .stitle {
	margin-top: 8px;
	font-size: 13px;
	line-height: 20px;
	color: #6f6f6f;
}

.board {
	position: relative;
}

.catalog_list {
	position: relative;
	display: block;
}

.catalog_list li {
	position: relative;
	display: inline-block;
	width: 450px;
	height: 812px;
	margin-right: 313px;
}

.catalog_list>li a:hover,
.catalog_list>li a.active {
	background: url('../img/download_w_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	background-color: #000000;
	color: #ffffff;

}

.catalog_list>li a {
	display: block;
	width: 180px;
	margin-top: 60px;
	color: #000;
	font-size: 16px;
	line-height: 22px;
	padding: 12px 60px 11px 55px;
	border: 1px solid #000;
	background: url('../img/download_icon.png')no-repeat 0 0;
	background-size: 28px 12px;
	background-position: right;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.catalog_list li:last-child {
	margin-right: 0;
}

.catalog_list li img {
	width: 400px;
	height: 530px;
	filter: drop-shadow(15px 15px 8px rgba(0, 0, 0, 0.34));
}

.catalog_list li .catalog {
	display: block;
	font-size: 18px;
	line-height: 30px;
	color: #FF5F00;
	margin-top: 60px;
	padding-bottom: 12px;
}

.catalog_list li .title {
	display: block;
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin-bottom: 60px;

}

.map_Wrap {
	position: relative;
	width: 1920px;
	margin: 0 auto;
	border: 1px solid #e6e6e6;
}

.map_Wrap .map_tab {
	float: left;
	width: 460px;
	height: 734px;
	overflow-y: scroll;
}

.map_Wrap .maps {
	float: right;
	width: 1458px;
}

.map_Wrap .maps .msize {
    width: 100%;
    height: 734px;
}

.map_Wrap .maps .bg_size {
	width: 1460px;
}

.mtop {
	margin-top: 130px;
}

.agency_list {
	position: relative;
	border-right: 1px solid #e6e6e6;
}

.agency_list li {
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.agency_list li a {
    display: block;
    padding: 24px 0 24px 80px;
    background: #f9f9f9;
}

.agency_list li a.active {
    background: #ffffff;
}

.agency_list li .title {
	font-size: 22px;
	line-height: 35px;
	color: #000000;
	margin-bottom: 16px;
}

.agency_list li .adress {
	font-size: 16px;
	line-height: 26px;
	color: #313131;
	margin-bottom: 4px;
}

.agency_list li .tel {
	font-size: 14px;
	line-height: 22px;
	color: #929292;
}

.agency_list li .sbtn {
	position: absolute;
	width: 50px;
	color: #000;
	right: 40px;
	top: 24px;
	font-size: 14px;
	line-height: 27px;
}

.agency_list li:last-child {
	border-bottom: none;
}

.apin {
	position: absolute;
	left: 40px;
	top: 25px;
	text-align: center;
	padding-top: 5px;
	background: url('../img/agency_pin.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 22px;
	height: 28px;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
}

.agency_list li .title span {
	display: inline-block;
	font-size: 14px;
	line-height: 35px;
	color: #FF5C00;
	vertical-align: top;
	margin-left: 10px;
}

.pop_title {
	font-size: 22px;
	line-height: 35px;
	color: #000;
	text-align: center;
}

.pop_bcopy {
	font-size: 14px;
	line-height: 22px;
	color: #313131;
	margin: 22px 0 26px;
	text-align: center;
	height: 66px;
	overflow: hidden;
}

.btn_ok {
	display: block;
	margin: 0 auto;
	width: 105px;
	padding: 10px 0;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}

.btn_selet {
	display: block;
	margin: 0 auto;
	padding: 10px 70px;
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	margin-top: 40px;
}

.pop_select {
	position: relative;
}

.mtop {
	margin-top: 130px;
}

.stop {
	margin-top: 200px;
}

.org_text {
	color: #FF5F00;
}

.mbomm {
	margin-bottom: -130px;
}

.ptno {
	padding-top: 0;
}

.pbno {
	padding-bottom: 0;
}

.bgB {
	background: #000000;
}

.ftcW {
	color: #ffffff;
}

.maps {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #000;
}

.topwrap {
	display: none;
	position: fixed;
	bottom: 60px;
	height: 54px;
	z-index: 9999;
	width: 100%;
}

.topwrap.active {
	display: block;
	background-color: transparent;
}

.topwrap .topBtn {
	position: relative;
	height: 54px;
}

.topwrap .topBtn a {
	position: absolute;
	right: 60px;
	border-radius: 30px;
	background: #000 url('../img/top_move_btn.svg')no-repeat center;
	background-size: 18px 21px;
	width: 54px;
	height: 54px;
}

.topwrap .topBtn a:hover {
	background: #FF5F00 url('../img/top_move_btn.svg')no-repeat center;
	background-size: 18px 21px;
	width: 54px;
	height: 54px;
}

.btn_gotop {
	display: none;
}

.eorr {
	display: none;
	margin-top: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #FF2020;
	text-align: left;
}

/* 221123 햄버거 셋팅 for 'on/off' */
#hamburger {
	display: none;
}

#hamburger.active {
	display: block;
}

/* //221123 햄버거 셋팅 for 'on/off' */

.boxs {
	position: relative;
}

.selectBox * {
	box-sizing: border-box;
}

.selectBox {
	position: relative;
	width: 100%;
	height: 56px;
	border-bottom: 1px solid #000;
	background: url('../img/arrow_down.png') no-repeat 100% 50%;
	background-size: 30px;
	cursor: pointer;
	z-index: 9990;
}

.selectBox.action {
	background: url('../img/arrow_up.png') no-repeat 100% 50%;
}


.selectBox .label {
	display: flex;
	align-items: center;
	width: inherit;
	height: inherit;
	border: 0 none;
	outline: 0 none;
	background: transparent;
	cursor: pointer;
	font-size: 18px;
	line-height: 30px;
	color: #000;
}

.selectBox .optionList {
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	background: #ffffff;
	font-size: 18px;
	line-height: 38px;
	color: #000;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	max-height: 0;
	z-index: 999;
}

.selectBox .optionList::-webkit-scrollbar {
	width: 6px;
}

.selectBox .optionList::-webkit-scrollbar-track {
	background: transparent;
}

.selectBox .optionList::-webkit-scrollbar-thumb {
	background: #303030;
	border-radius: 45px;
}

.selectBox .optionList::-webkit-scrollbar-thumb:hover {
	background: #303030;
}

.selectBox.active .optionList {
	max-height: 500px;
	transition: .1s ease-in;
	border: 1px solid #000;
	padding: 15px 0;
}

.selectBox .optionItem {
	padding: 0 24px 0;
	transition: .3s ease-in;
}

.selectBox .optionItem:hover {
	background: #ffffff;
}

.selectBox .optionItem:last-child {
	border-bottom: 0 none;
}