/* company */


.stitle_Wrap {
	position: relative;
	padding-bottom: 130px;
	margin-top: 158px;
}

.stitle_Wrap.type02 {
	margin-top: 102px;
}

.stitle_Wrap.type03 {
	margin-top: 130px;
}

.stitle_Wrap .title {
	text-align: center;
	font-size: 40px;
	line-height: 58px;
	font-weight: 500;
	color: #000;
	margin-bottom: 20px;
}

.stitle_Wrap .stitle {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
}


.stitle_philo_Wrap {
	position: relative;
	padding-bottom: 60px;
	margin-top: 130px;
}

.tabmenu_Wrap.fixed + .stitle_philo_Wrap {
	margin-top: 305px;
}

.stitle_philo_Wrap .title {
	text-align: center;
	font-size: 40px;
	line-height: 58px;
	font-weight: 500;
	color: #000;
	margin-bottom: 20px;
}

.capa_Wrap {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -960px;
}

.capa_Wrap li {
	position: relative;
	width: 1920px;
}

.capa_Wrap li .img_box {
	width: 50%;
	float: left;
}

.capa_Wrap li .img_box img {
	width: 100%;
}

.capa_Wrap li .box {
	width: 50%;
	height: 580px;
	float: left;
}

.capa_Wrap li .title_boxL {
	display: table-cell;
	position: relative;
	height: 580px;
	padding: 0 0 0 300px;
}

.capa_Wrap li .title_boxR {
	display: table-cell;
	position: relative;
	height: 580px;
	padding: 0 0 0 233px;
}

.capa_Wrap li .midd {
	vertical-align: middle;
}

.capa_Wrap li .title {
	line-height: 43px;
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: 500;
	color: #000;
}

.capa_Wrap li .esg_tag {
	line-height: 35px;
	margin: 20px 0 10px 0;
	font-size: 22px;
	font-weight: 500;
	color: #000;
}

.capa_Wrap li .stitle {
	font-size: 16px;
	color: #6f6f6f;
	line-height: 26px;
}

.capa_Wrap li .stitle p {
	position: relative;
	font-size: 16px;
	color: #6f6f6f;
	line-height: 26px;
	padding-left: 12px;
}

.en .capa_Wrap li .stitle p {
	padding-right: 30px;
}

.capa_Wrap li .stitle .icon {
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	display: inline-block;
	background-color: #6f6f6f;
	margin-right: 6px;
	vertical-align: middle;
	border-radius: 2px;
}

.capa_Wrap li .note {
	font-size: 16px;
	color: #bbbbbb;
	line-height: 26px;
	margin-top: 20px;
}

.process {
	width: 1320px;
	margin: 0 auto;
}

.process li {
	float: left;
	align-self: stretch;
	position: relative;
	width: 140px;
	margin-right: 152px;
}

.process li:last-child {
	margin-right: 0;
}

.process li .img_box {
	width: 140px;
	height: 140px;
}

.process li .img_box img {
	width: 100%;
	height: 100%;
}

.process li .title {
	margin-top: 60px;
}

.process li .title .num {
	color: #FF5F00;
	font-size: 16px;
	margin-bottom: 10px;
}

.process li .title .mtitle {
	color: #000000;
	font-size: 26px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 10px;
}

.en .process li .title .mtitle {
	font-size: 22px;
	white-space: nowrap;
}

.process li .title .stitle {
	color: #6f6f6f;
	font-size: 13px;
	line-height: 20px;
	height: 60px;
}

.en .process li .title .stitle {
	width: 200px;
	height: auto;
}

.process li:after {
	position: absolute;
	display: block;
	top: 70px;
	right: -92px;
	transform: translateY(-50%);
	content: '';
	width: 32px;
	height: 10px;
	background: url(../images/icon/arrow.png) no-repeat center/contain;
}

.process li:last-child:after {
	display: none;
}

.philo_wrap {
	position: relative;
	width: 1321px;
	margin: 0 auto;
}

.philo_wrap li {
	float: left;
	width: 427px;
	height: 409px;
	background: #fbfbfb;
	padding: 50px 0 0 50px;
	margin-right: 20px;
}

.en .philo_wrap li {
	height: 453px;
	padding: 50px 0 50px 50px;
}

.philo_wrap li:last-child {
	margin-right: 0;
}

.philo_wrap li .icon {
	width: 74px;
}

.philo_wrap li .icon img {
	width: 100%;
}

.philo_wrap li .tag {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	margin: 60px 0 4px 0;

}

.philo_wrap li .title {
	font-size: 36px;
	line-height: 42px;
	font-weight: 500;
	color: #000000;

}

.philo_wrap li .bcopy {
	margin-top: 20px;
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
}

.en .philo_wrap li .bcopy {
	width: 327px;
	letter-spacing: -0.01em;
}

.ceo_wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.tabmenu_Wrap.fixed + .ceo_wrap {
	margin-top: 305px;
}

.ceo_wrap .message {
	float: left;
	width: 782px;
	padding-right: 130px;
}

.ceo_wrap .message .title {
	line-height: 58px;
	margin-bottom: 22px;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.ceo_wrap .message em {
	color: #FF5F00;
}

.ceo_wrap .message .bcopy {
	line-height: 26px;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.01em;
}

.en .ceo_wrap .message .bcopy {
	width: 650px;
	text-align: justify;
}

.ceo_wrap .ceo_poto {
	float: right;
	width: 538px;
}

.ceo_wrap .ceo_poto img {
	width: 100%;
}

.ceo_wrap .sign {
	margin-top: 154px;
}

.ceo_wrap .sign span {
	line-height: 78px;
	margin-right: 34px;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	opacity: 0.8;
}

.ceo_wrap .sign .ceo_sign {
	width: 254px;
}

.ceo_wrap .sign img {
	width: 100%;
}

.history_wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.tabmenu_Wrap.fixed + .history_wrap {
	margin-top: 175px;
}

.history_wrap .hline {
	height: 130px;
	border-right: 1px solid #e6e6e6;
	width: 645px;
}

.history_wrap .hblock {
	display: block;
}

.history_wrap .poto {
	float: left;
	width: 538px;
}

.history_wrap .poto .title {
	font-size: 40px;
	line-height: 58px;
	font-weight: 500;
	margin-bottom: 14px;
	color: #000000;
}

.history_wrap .poto img {
	width: 100%;
}

.history_wrap .poto img~img {
	margin-top: 120px;
}

.history_wrap .time_line {
	position: relative;
	float: right;
	width: 676px;
	margin-left: 106px;
	border-left: 1px solid #e6e6e6;
}
/* 
.history_wrap .time_line:last-child::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	border-left: 1px solid #e6e6e6;
} */

.history_wrap .time_line li {
	position: relative;
	padding-bottom: 100px;
}

.history_wrap .time_line li>div {
	position: relative;
}

.history_wrap .time_line li:last-child {
	padding-bottom: 66px;
}

.history_wrap .time_line:last-child li:last-child {
	padding-bottom: 200px;
}

.history_wrap .time_line li p {
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 26px;
	letter-spacing: -0.01em;
}

.history_wrap .time_line li p ~ p {
	margin-top: 10px;
}

.en .history_wrap .time_line li p {
	align-items: flex-start;
}

.history_wrap .time_line li .story.type02 p {
	white-space: nowrap;
}

.en .history_wrap .time_line li .story.type02 p {
	white-space: initial;
}

.history_wrap .time_line li .box {
	display: table-cell;
}

.history_wrap .time_line li .dot {
	position: absolute;
	border-radius: 6px;
	background: #000000;
	width: 12px;
	height: 12px;
	left: -8px;
	top: 10px;
}

.history_wrap .time_line li .year {
	float: left;
	width: 65px;
	font-size: 28px;
	line-height: 34px;
	margin-left: 40px;
	color: #000000;
}

.history_wrap .time_line li .story {
	float: left;
	width: auto;
	font-size: 16px;
	line-height: 26px;
	margin-left: 40px;
	padding-top: 4px;
	color: #6f6f6f;
}

.en .history_wrap .time_line li .story {
	width: 519px;
}

.history_wrap .time_line li .story.type02 {
	position: absolute;
	left: 105px;
}

.en .history_wrap .time_line li .story.type02 {
	position: initial;
}

.history_wrap .time_line li .story span {
	display: inline-block;
	width: 44px;
	line-height: 24px;
	margin-right: 16px;
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	text-align: right;
}

.en .history_wrap .time_line li .story span {
	flex-shrink: 0;
}

.ci_wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.tabmenu_Wrap.fixed + .ci_wrap {
	margin-top: 305px;
}

.ci_wrap .intro {
	position: relative;
}

.ci_wrap .intro .info {
	display: inline-block;
}

.ci_wrap .intro .diag {
	margin-top: 60px;
	position: relative;
	text-align: center;
}

.ci_wrap .intro .diag img {
	height: 270px;
}

.ci_wrap .intro .title {
	font-size: 40px;
	line-height: 58px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 60px;
}

.ci_wrap .info li {
	padding: 20px 0;
	width: 360px;
	border-top: 1px solid #000000;
	margin-right: 120px;
	float: left;
}

.ci_wrap .info li:last-child {
	margin-right: 0;
}

.ci_wrap .info li .tag {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 4px;
}

.ci_wrap .info li .title {
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin-bottom: 20px;
}

.ci_wrap .info li .bcopy {
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
	letter-spacing: -0.01em;
}

.ci_wrap .logo {
	position: relative;
}

.ci_wrap .logo .soft_logo {
	display: block;
	margin-top: 200px;
}

.ci_wrap .logo .soft_logo .mtitle {
	font-size: 36px;
	line-height: 43px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 20px;
}

.ci_wrap .logo .soft_logo .stitle {
	font-size: 18px;
	line-height: 30px;
	color: #6f6f6f;
	margin-bottom: 60px;
}

.ci_wrap .logo .log_box {
	position: relative;
	padding: 110px 0 130px;
	text-align: center;
	background-color: #f9f9f9;
}

.ci_wrap .logo .log_box img {
	height: 64px;
}

.ci_wrap .logo .watermark {
	position: relative;
	margin-top: 60px;
}

.ci_wrap .logo .watermark li {
	display: inline-table;
	width: 647px;
	margin-right: 20px;
}

.ci_wrap .logo .watermark li .title {
	font-size: 26px;
	line-height: 31px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 20px;
}

.ci_wrap .logo .watermark li .tag {
	font-size: 14px;
	color: #666666;
	line-height: 21px;
	margin-bottom: 20px;
}

.ci_wrap .logo .watermark li .length {
	height: 300px;
	padding: 117px 0;
	text-align: center;
	background-color: #f9f9f9;
}

.ci_wrap .logo .watermark li .breadth {
	height: 300px;
	padding: 100px 0;
	text-align: center;
	background-color: #f9f9f9;
}

.ci_wrap .logo .watermark li:last-child {
	margin-right: 0;
}

.ci_wrap .logo .watermark li .wimg01 {
	height: 66px;
}

.ci_wrap .logo .watermark li .wimg02 {
	height: 100px;
}

.ci_wrap .color {
	margin-top: 200px;
}

.ci_wrap .soft_color {
	display: block;
	margin-bottom: 60px;
}

.ci_wrap .soft_color .mtitle {
	font-size: 36px;
	line-height: 43px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 20px;
}

.ci_wrap .soft_color .stitle {
	font-size: 18px;
	line-height: 30px;
	color: #6f6f6f;
}

.ci_wrap .color_box {
	position: relative;
}

.ci_wrap .color_box .orn {
	width: 660px;
	background-color: #FF5F00;
	padding: 30px 32px 34px 32px;
	float: left;
}

.ci_wrap .color_box .whi {
	width: 330px;
	background-color: #ffffff;
	border: 1px solid #E6E6E6;
	padding: 30px 32px 34px 32px;
	float: left;
}

.ci_wrap .color_box .bla {
	width: 330px;
	background-color: #000000;
	padding: 30px 32px 34px 32px;
	float: left;
}

.ci_wrap .color_box .title {
	line-height: 24px;
	margin-bottom: 100px;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}

.ci_wrap .color_box .bcopy {
	font-size: 13px;
	line-height: 20px;
	color: #ffffff;
}

.ci_wrap .color_box .whi .title {
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 100px;
}

.ci_wrap .color_box .whi .bcopy {
	font-size: 13px;
	line-height: 20px;
	color: #000000;
}

.edu_wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.educa {
	position: relative;
	background: #FBFBFB;
	height: 708px;
}

.educa .ceo {
	position: absolute;
	width: 618px;
	bottom: 0;
	left: 50%;
	margin-left: -720px;
}

.educa .ceo img {
	height: 544px;
}

.educa .info {
	position: absolute;
	width: 563px;
	right: 400px;
	top: 121px;
	right: 50%;
	margin-right: -563px;
}

.educa .info .title {
	line-height: 58px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.educa .info .stitle {
	line-height: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.educa .info .bcopy {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 30px;
}

.educa .info .sign {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	color: #000000;
	text-align: right;
	letter-spacing: -0.01em;
}

.edu_list {
	display: block;
	width: 1320px;
	margin: -130px auto 0;
}

.edu_list li {
	float: left;
	width: 428px;
	margin: 130px 18px 0 0;
}

.edu_list li:first-child {
	margin-top: 140px;
}

.edu_list li:nth-child(3n) {
	margin: 130px 0 0 0;
}

.edu_list li .list_img {
	width: 428px;
	height: 300px;
}

.edu_list li .bcopy {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 70px;
	line-height: 35px;
	margin-top: 30px;
	font-size: 22px;
	font-weight: 500;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.edu_list li .list_img img {
	width: 100%;
	height: 100%;
}

.edu_wrap .title {
	line-height: 58px;
	margin-bottom: 60px;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
}

.esg {
	position: relative;
	background: #FBFBFB;
}

.esg .info {
	position: relative;
	width: 1320px;
	margin: 0 auto;
	padding: 130px 0;
}

.esg .info .title {
	line-height: 58px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
}

.esg .info .stitle {
	font-size: 18px;
	line-height: 30px;
}

.esg .info .box {
	position: relative;
	margin-top: 60px;
}

.esg .info .box li {
	display: block;
}

.esg .info .box .btitle {
	float: left;
	width: 447px;
	line-height: 31px;
	padding-right: 50px;
	font-size: 26px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.esg .info .box .bcopy {
	float: left;
	width: 873px;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 60px;
}

.esg .info .sign {
	line-height: 24px;
	margin-top: 60px;
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	text-align: right;
}

.esg .info .sign span {
	line-height: 26px;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #313131;
	letter-spacing: -0.01em;
}


.conte_wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.conte_wrap.type02 {
	margin-top: 124px;
}

.tabmenu_Wrap.fixed + .conte_wrap {
	margin-top: 295px;
}


.board_box {
	display: block;
	margin-bottom: 60px;
}

.board_box > a {
	display: flow-root;
}

.board_box .total {
	text-align: right;
	padding: 8px 10px;
	color: #000000;
	font-size: 15px;
	line-height: 20px;
}

.board_box .poto {
	float: left;
	width: 600px;
	height: 380px;
}

.board_box .poto img {
	width: 100%;
}

.board_box .list {
	float: left;
	width: 720px;
	height: 380px;
	padding: 50px 60px 50px 48px;
}

.board_box .list a {
	color: #000000;
}

.board_box .catalog {
	display: block;
	line-height: 30px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	color: #FF5F00;
}

.board_box .title {
	display: block;
	height: 64px;
	line-height: 32px;
	margin-bottom: 30px;
	font-size: 26px;
	font-weight: 500;
	color: #000000;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.board_box .bcopy {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	max-height: 78px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 26px;
	color: #6F6F6F;
	text-overflow: ellipsis;
	overflow: hidden;
}

.board_box .data {
	display: block;
	font-size: 13px;
	line-height: 20px;
	color: #6F6F6F;
}

.board_list {
	border-top: 1px solid #E6E6E6;
}

.board_list li {
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #E6E6E6;
}

.board_list li a {
	display: block;
	overflow: hidden;
	padding: 40px 0;
}

.board_list li .catalog {
	float: left;
	display: block;
	width: 150px;
	line-height: 30px;
	padding-top: 4px;
	font-size: 18px;
	font-weight: 500;
	color: #FF5F00;
}

.board_list li .title {
	float: left;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	font-weight: 500;
	color: #000000;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.board_list li .data {
	position: absolute;
	right: 0;
	float: left;
	display: block;
	line-height: 26px;
	padding-top: 5px;
	font-size: 16px;
	color: #6F6F6F;
	text-align: right;
}


.view_box {
	display: block;
}

.view_box .view {
	position: relative;
	width: 100%;
}

.view_box .view .poto {
	width: 1320px;
}

.view_box .view .poto img {
	width: 100%;
}

.view_box .view .bcopy {
	margin: 50px 0;
	font-size: 16px;
	line-height: 26px;
	color: #6F6F6F;
}

.view_box .data {
	display: block;
	font-size: 20px;
	line-height: 20px;
	color: #6F6F6F;
	padding-bottom: 40px;
	margin: 16px 0 100px 0;
	border-bottom: 1.5px solid #000000;
}

.view_list {
	border-top: 1px solid #E6E6E6;
	margin-top: 130px;
}

.view_list li {
	overflow: hidden;
	display: block;
	border-bottom: 1px solid #E6E6E6;
}

.view_list li a {
	display: block;
	overflow: hidden;
	padding: 15px 0;
}

.view_list li .arrow {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-right: 11px;
}

.view_list li .catalog {
	float: left;
	position: relative;
	top: 13px;
	display: block;
	width: 150px;
	line-height: 24px;
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}

.view_list li .title {
	float: left;
	position: relative;
	top: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	width: auto;
	line-height: 20px;
	font-size: 20px;
	color: #6f6f6f;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.view_list li .data {
	position: relative;
	top: 14px;
	font-size: 14px;
	line-height: 22px;
	float: right;
	width: 80px;
	color: #6F6F6F;
	text-align: right;
	padding-top: 3px;
	margin-right: 5px;
}

.view_list li img {
	width: 100%;
	height: 100%;
}

.btn_box {
	margin-top: 50px;
	text-align: center;
}

.btn_box.main_news {
	margin-top: 130px;
}

.btn_box a {
	display: block;
	color: #000000;
	width: 273px;
	border: 1px solid #000;
	margin: 0 auto;
}

.btn_box>a:hover,
.btn_box>a.active {
	background-color: #000000;
	color: #ffffff;
}

.btn_box>a {
	display: block;
	color: #000000;
	width: 273px;
	border: 1px solid #000;
	margin: 0 auto;
	z-index: 99;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.btn_box a.btn_list {
	padding: 17px 0;
	font-size: 20px;
	font-weight: 500;
	color: #222;
	line-height: 24px;
}

.btn_box a.btn_list:hover {
	color: #fff;
}

.paging {
	position: relative;
	display: block;
	width: max-content;
	padding: 10px 0;
	margin: 130px auto 0;
}

.paging .pre {
	float: left;
	display: none;
	width: 32px;
}

.paging .pre.active {
	display: block;
}

.paging img {
	width: 30px;
	height: 30px;
}

.paging .next {
	float: left;
	display: none;
	width: 32px;
}

.paging .next.active {
	display: block;
}

.paging .pre > a,
.paging .next > a {
	display: block;
}

.paging .number {
	float: left;
	padding-top: 4px;
	text-align: center;
}

.paging .number a {
	display: inline-block;
	line-height: 26px;
	padding: 0 13px;
	font-size: 16px;
	color: #bbb;
	text-align: center;
}

.paging .number a:hover {
	color: #000;
}

.paging .number a.select {
	font-weight: 500;
	color: #000;
}

.map_box {
	display: block;
}

.map_box .view {
	position: relative;
	width: 100%;
}

.map_box img {
	width: 100%;
}

.map_box .poto {
	width: 1320px;
	height: 580px;
}

.map_box .info {
	position: relative;
	margin-top: 130px;
}

.map_box .info .softmill {
	float: left;
	width: auto;
	margin-right: 406px;
}

.en .map_box .info .softmill {
	margin-right: 147px;
}

.map_box .info .title {
	line-height: 43px;
	margin-bottom: 30px;
	font-size: 36px;
	font-weight: 500;
	color: #000000;
}

.map_box .info p {
	line-height: 26px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #6f6f6f;
	letter-spacing: -0.01em;
}

.en .map_box .info p {
	font-size: 14px;
}

.map_box .info span {
	line-height: 30px;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
}

.en .map_box .info span {
	margin-right: 15px;
}

.map_box .info .traffic {
	float: left;
	width: 500px;
}

.en .map_box .info .traffic {
	width: 594px;
}

.map_box .info .traffic .tit {
	float: left;
	width: auto;
	line-height: 30px;
	margin-right: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.map_box .info .traffic .bcopy {
	float: left;
	width: auto;
	line-height: 26px;
	font-weight: 400;
	font-size: 16px;
}

.en .map_box .info .traffic .bcopy {
	width: 460px;
}

.client_list {
	display: block;
	width: 1320px;
	margin: 0 auto;
	margin-top: 60px;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}

.client_list li {
	float: left;
	width: 25%;
	padding: 32px 0;
	margin-top: -1px;
	border: 1px solid #e6e6e6;
	border-top: none;
	border-left: none;
	text-align: center;
}

.client_list li img {
	width: 260px;
	height: 120px;
}

/* 설치사례 내용 (editor) 스타일 */
#editor_wrap img {
	width: 100% !important;
}
/* //설치사례 내용 (editor) 스타일 */