@charset 'utf-8';

/*********** header *********/
.web {
	display: block;
}

.mobile {
	display: none;
}

.web_block {
	display: block;
}

.mobile_block {
	display: inline;
}

#header {
	display: none;
	width: 100%;
	background: #fff;
	/*position: fixed;*/
	z-index: 999;
}

#header.active {
	display: block;
}

.header_wrap {
	top: 0;
	height: 80px;
	position: fixed;
	padding: 0 100px 0 100px;
	width: 100%;
	transition: top .2s;
	justify-content: flex-end;
	background: #fff;
	z-index: 9999;
}

.show {
	top: -80px;
	transition: top .2s;
}

.header_wrap h1 {
	width: 100%;
	text-align: center;
}

.header_wrap h1.logo {
	display: block;
	padding: 28px 0 28px 0;
}

.header_wrap h1.logo a {
	display: inline-block;
	background: url('../images/menu/top_logo.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 107px;
	height: 24px;

}

.header_wrap .burger {
	display: block;
	position: absolute;
	top: 0;
	left: 100px;
	margin: 26px 0 26px 0;
	background: url('../images/menu/top_menu.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 24px;
	height: 24px;
}

.header_wrap .util {
	position: absolute;
	right: 100px;
	top: 0;
	padding: 30px 0 30px 0;
}

.header_wrap .util a {
	position: relative;
	padding-right: 22px;
	margin-right: 30px;
	color: #000;
	font-size: 16px;
	line-height: 26px;
}

.header_wrap .util a span {
	position: absolute;
	background: url('../images/menu/top_new_page.svg')no-repeat right 0;
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
	right: 0;
	top: 1px;
}

.header_wrap .util a:last-child {
	margin-right: 0;
	padding-right: 0;
	color: #929292;
}

/*********** contentsWrap *********/
#contentsWrap {
	min-width: 1360px;
	overflow: hidden;
	margin-top: 180px;
}

#contentsWrap.page_agency {
	margin-bottom: -130px;
}

#contentsWrap_pro {
	min-width: 1360px;
	overflow: hidden;
	margin-top: 0;
}

.contwrap {
	margin: 0 auto;
	/*max-width: 1920px;*/
}

.title_Wrap {
	position: relative;
	width: 1320px;
	min-height: 50px;
	margin: 0 auto;
}

.title_Wrap .title {
	font-size: 50px;
	color: #000;
	line-height: 68px;
	font-weight: 500;
	float: left;
}

.title_Wrap .title span {
	display: block;
}

.indicator {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}

.indicator>li {
	position: relative;
	float: left;
	line-height: 27px;
	padding-left: 34px;
	margin-left: 4px;
	font-size: 14px;
	color: #929292;
}

.indicator>li:first-child {
	padding-left: 0;
	margin-left: 0;
}

.indicator>li button {
	line-height: 27px;
	font-size: 14px;
	font-weight: 500;
	color: #929292;
	text-align: left;
}

.indicator>li button span {
	position: relative;
	display: inline-block;
	line-height: 27px;
	padding-right: 23px;
}

.indicator>li button span:after {
	content: '';
	position: absolute;
	top: 3px;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/icon/top_arrow_drops.png') no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
}

.indicator>li:not(:first-child):before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	top: 0;
	left: 0;
	background: url('../images/icon/arrow_right_type03.svg') no-repeat 0 0;
	background-size: 100% 100%;
}

.indicator>li:last-child button {
	color: #000;
}

.indicator>li:last-child button span:after {
	content: '';
	display: block;
	position: absolute;
	top: 3px;
	right: 0;
	overflow: hidden;
	background: url('../images/icon/top_arrow_drop.png') no-repeat center center;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
}


.indicator>li .menu_list {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 100;
	padding-top: 10px;
	animation: fadein 1s;
	-moz-animation: fadein 1s;
	/* Firefox */
	-webkit-animation: fadein 1s;
	/* Safari and Chrome */
	-o-animation: fadein 1s;
	/* Opera */
}

.indicator>li .menu_list ul {
	position: relative;
	box-sizing: border-box;
	width: 130px;
	padding: 14px;
	border: 1px solid #000000;
	background: #fff;
}

.indicator>li .menu_list ul li:first-child {
	margin-top: 0;
}

.indicator>li .menu_list ul li a {
	display: block;
	position: relative;
	font-size: 14px;
	line-height: 27px;
	color: #BBB;
}

.indicator>li .menu_list ul li a.active {
	color: #000;
}

.indicator>li.on .menu_list {
	display: block;
}

.indicator>li.on button span:after {
	background-image: url('../images/icon/top_arrow_drops_on.png');
}

.indicator>li.on:last-child button span:after {
	background-image: url('../images/icon/top_arrow_drop_on.png');
}

.tabmenu_Wrap {
	border-bottom: 1px solid #e6e6e6;
	margin-top: 100px;
	padding-top: 30px;
	display: flex;
	justify-content: space-evenly;
	z-index: 999;
}

.tabmenu {
	position: relative;
	margin-top: 130px;
	width: 1320px;
	margin: 0 auto;
	bottom: -1px;
}

.tabmenu li {
	font-size: 20px;
	text-align: center;
	float: left;
	margin-right: 70px;
}

.tabmenu li:last-child {
	margin-right: 0;
}

.tabmenu li a.selected {
	border-bottom: 4px solid #FF5F00;
	font-weight: 500;
	color: #FF5F00;
}

.tabmenu li a {
	display: block;
	width: 100%;
	padding: 0 0 17px;
	display: block;
	color: #666666;
}

.tabmenus_Wrap {
	/* width: 1320px; */
	/* margin: 0 auto; */
	margin-top: 130px;
}

.tabmenus {
	position: relative;
	margin-top: 130px;
	width: 1320px;
	margin: 0 auto;
}

.tabmenus li {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	float: left;
	margin-right: 36px;
}

.tabmenus li:last-child {
	margin-right: 0;
}

.tabmenus li a.active {
	font-weight: 500;
	color: #FF5C00;
}

.tabmenus li a {
	display: block;
	width: 100%;
	padding: 14px 0;
	display: block;
	color: #666666;
}

.tabmenus .total {
	position: absolute;
	right: 0;
	top: 16px;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}

.banner_Wrap {
	position: relative;
	height: 460px;
	background: #fff;
}

.tabmenu_Wrap.fixed + .banner_Wrap {
	margin-top: 175px;
}

.banner_Wrap img {
	width: 100%;
	height: 100%;
}

.banner_Wrap .bg_img {
	position: absolute;
	width: 1920px;
	height: 460px;
	left: 50%;
	margin-left: -960px;
}

.banner_Wrap .title {
	z-index: 999;
	position: absolute;
	top: 152px;
	left: 50%;
	margin-left: -660px;
}

.banner_Wrap .title .mtitle {
	font-size: 40px;
	line-height: 58px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 10px;
	letter-spacing: -2px;
}

.banner_Wrap .title .mtitle_W {
	line-height: 58px;
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: -0.01em;
}

.banner_Wrap .title .stitle {
	font-size: 18px;
	line-height: 30px;
	color: #929292;
}

.banner_Wrap .title .stitle_W {
	font-size: 18px;
	line-height: 30px;
	color: #bbbbbb;
}

.banner_Wrap .title .stitle_W.type02 {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.01em;
}

.banner_Wrap .title_C {
	z-index: 999;
	position: absolute;
	top: 174px;
	left: 50%;
	margin-left: -280px;
}

.banner_Wrap .title_C .mtitle {
	line-height: 58px;
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -2px;
	text-align: center;
}

.banner_Wrap .title_C .stitle {
	font-size: 18px;
	line-height: 30px;
	color: #929292;
	text-align: center;
}

.banner_Wrap .title_C .stitle.type02 {
	font-size: 16px;
	color: #6f6f6f;
	letter-spacing: -0.01em;
}

/*********** footer *********/
#footer {
	background: #F1EFEE;
	margin-top: 130px;
	color: #6f6f6f;
	min-width: 1360px;
}

.footer_wrap {
	padding: 34px 0;
	width: 1320px;
	margin: 0 auto;
}

.footer_wrap .flogo {
	background: url('../images/footer/footer_logo.svg') no-repeat 0 0;
	background-size: 100% 100%;
	width: 104px;
	height: 24px;
	margin-bottom: 38px;
}

.footer_wrap .flogo img {
	width: 100%;
}

.footer_wrap .corpInfo {
	position: relative;
}

.footer_wrap .corpInfo .add {
	float: left;
}

.footer_wrap .corpInfo .add .marg {
	margin-bottom: 14px;
}

.footer_wrap .corpInfo .add p {
	margin-top: 5px;
	font-size: 14px;
	line-height: 22px;
}

.footer_wrap .corpInfo .cscenter {
	float: right;
}

.footer_wrap .corpInfo .cscenter .csL {
	float: left;
	position: relative;
}

.footer_wrap .corpInfo .cscenter .csL a.icon {
	padding-right: 24px;
	font-size: 14px;
	line-height: 22px;
	color: #6f6f6f;
}

.footer_wrap .corpInfo .cscenter .csL a span {
	position: absolute;
	background: url('../images/icon/bottom_new_page.svg')no-repeat 0 0;
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
	right: 0;
	top: 2px;
}

.footer_wrap .corpInfo .cscenter .csR {
	float: right;
	font-size: 14px;
	line-height: 22px;
	margin-left: 40px;
}

.footer_wrap .corpInfo:after {
	display: block;
	content: '';
	clear: both;
}

.footer_wrap .copy {
	position: relative;
	padding-top: 14px;
	margin-top: 14px;
	border-top: 1px solid #d9d9d9;
}

.footer_wrap .copy .sns {
	float: left;
}

.footer_wrap .copy .sns a {
	display: block;
	width: 24px;
	margin-right: 16px;
	float: left;
}

.footer_wrap .copy .sns img {
	width: 100%;
}

.footer_wrap .copy .right {
	float: right;
	line-height: 22px;
	font-size: 12px;
	color: #6f6f6f;
	opacity: .6;
}

.menu_popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.megaDrop {
	position: relative;
	width: 100%;
	margin: 0 auto;
	z-index: 999;
	background: #fff;
	text-align: center;
}

.mega_header {
	position: relative;
	height: 80px;
	border-bottom: 1px solid #ebebeb;
}

.mega_header a,
.mega_header button {
	position: absolute;
	top: 30px;
	left: 100px;
	background: url('../images/icon/bt_layer_close.png')no-repeat 0 0;
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.mega_menu {
	width: 1920px;
	position: relative;
	display: inline-flex;
	max-height: 1000px;
	height: 82%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: scroll;
}
.mega_menu::-webkit-scrollbar {
	display: none;
}

.oneDepth {
	float: left;
	width: 432px;
	height: 1000px;
	padding: 0 20px 0 160px;
	border-right: 1px solid #ebebeb;
	margin-right: 408px;
}

.oneDepth .gnb_menu {
	position: relative;
}

.oneDepth li {
	margin-bottom: 24px;
	width: 256px;
	text-align: left;
}

.oneDepth li.company_intro::before {
	content: '소프트밀 소개';
	display: block;
	line-height: 17px;
	margin: 80px 0 24px;
	font-size: 14px;
	color: #FF5C00;
	letter-spacing: -0.04em;
}

.oneDepth li a,
.oneDepth li button {
	display: block;
	width: 100%;
	line-height: 34px;
	font-size: 28px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #BBBBBB;
	text-align: left;
}

.oneDepth li a:hover,
.oneDepth li button:hover {
	background: url('../images/icon/menu_arrow.png')no-repeat right 2px;
	background-size: 28px 28px;
	color: #000;
}

.oneDepth li a.select,
.oneDepth li button.select {
	background: url('../images/icon/menu_arrow.png')no-repeat right 2px;
	background-size: 28px 28px;
	color: #000;
	font-weight: 500;
	letter-spacing: -0.02em;
}

.oneDepth .title {
	line-height: 17px;
	margin: 80px 0 24px;
	font-size: 14px;
	color: #FF5C00;
	text-align: left;
	letter-spacing: -0.04em;
}

.twoDepth {
	float: left;
	width: 408px;
	height: 1000px;
	padding-left: 120px;
}

.twoDepth ul {
	margin-top: 123px;
}

.twoDepth li {
	position: relative;
	margin-bottom: 24px;
}

.twoDepth li a {
	display: block;
	font-size: 24px;
	line-height: 29px;
	color: #BBBBBB;
}

.twoDepth li a:hover {
	color: #000000;
}

.twoDepth li a.select {
	color: #000000;
}

.twoDepth li a.more {
	background: url(../images/icon/main_sub_arrow.png)no-repeat 160px 0;
	background-size: 30px 30px;
}

.twoDepth li a.more:hover {
	background: url(../images/icon/main_sub_arrow_g.png)no-repeat 160px 0;
	background-size: 30px 30px;
}

.treeDepth {
	float: left;
	position: relative;
	display: none;
	height: 1000px;
	width: 100%;
	overflow-y: scroll;
	background: #fbfbfb;
}

.treeDepth.active {
	display: block;
}

.treeDepth.prodLists > h3 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.treeDepth li {
	float: left;
	background: #F5F5F5;
	width: 33.33333333333333333%;
}

.treeDepth li:nth-child(2n) {
	background: #fbfbfb;
}

.treeDepth li a {
	display: block;
	position: relative;
	text-align: center;
	height: 333px;
	padding: 33px 0;
}

.treeDepth li .pro_img {
	width: 190px;
	height: 190px;
}

.treeDepth li .title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 48px;
	line-height: 24px;
	padding: 0 20px;
	margin: 20px 0 8px;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
}

.treeDepth li .tag {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000;
	opacity: 0.6;
}

.banner {
	overflow: hidden;
}

.oneDepth li .smenu {
	display: none;
	position: absolute;
	width: 300px;
	left: 340px;
	top: 0;
}

.oneDepth li .smenu li {
	position: relative;
	margin-bottom: 24px;
	width: 310px;
}

.oneDepth li .smenu li a,
.oneDepth li .smenu li button {
	background: none;
	display: block;
	font-size: 24px;
	line-height: 29px;
	font-weight: 500;
	letter-spacing: -0.02em;
	color: #BBBBBB;
}

.oneDepth .gnb_menu li .smenu li a:hover,
.oneDepth .gnb_menu li .smenu li button:hover {
	color: #000000;
}

.oneDepth .gnb_menu li .smenu li a.more {
	display: inline-block;
	padding: 0 40px 0 0;
	background: url('../images/icon/main_sub_arrow.png') no-repeat top right / 30px 30px;
}

.oneDepth .gnb_menu li .smenu li a.more:hover {
	background-image: url('../images/icon/main_sub_arrow_g.png');
}

.gnb_menu>li.on .smenu {
	display: block;
}

.oneDepth .gnb_menu>li.active .smenu {
	display: block;
	animation: fadein_trans 0.6s;
	-moz-animation: fadein_trans 0.6s;
	/* Firefox */
	-webkit-animation: fadein_trans 0.6s;
	/* Safari and Chrome */
	-o-animation: fadein_trans 0.6s;
	/* Opera */
}

.oneDepth .gnb_menu>li.active>a,
.oneDepth .gnb_menu>li.active>button {
	background: url('../images/icon/menu_arrow.png') no-repeat right 2px / 28px 28px;
	color: #000000;
}

.oneDepth .gnb_menu>li.active .smenu li.select a,
.oneDepth .gnb_menu>li.active .smenu li.select button {
	color: #000000;
}

.oneDepth .gnb_menu>li.active .smenu li.select a.more {
	background-image: url('../images/icon/main_sub_arrow_g.png');
}

.section_group {
	position: relative;
	width: 1920px;
	left: 50%;
	margin-left: -960px;
	padding-bottom: 200px;
}

.section_group.type01 {
	padding-bottom: 0;
}

.section_group:last-child {
	padding-bottom: 0;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {

	/* Firefox */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {

	/* Safari and Chrome */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {

	/* Opera */
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*********** main_Wrap *********/
.menubanner_txt {
	position: absolute;
	top: 382px;
	left: 80px;
	text-align: left;
}

.menus_title {
	font-size: 48px;
	line-height: 65px;
	color: #000;
	margin-bottom: 20px;
	animation: fadein_trans 0.6s ease-in-out;
}

.menus_btitle {
	font-size: 20px;
	line-height: 35px;
	color: #000;
	opacity: 0.8;
	margin-bottom: 24px;
	animation: fadein_trans 0.9s ease-in-out;
}

.gotos {
	width: 134px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	line-height: 19px;
	padding: 10px 46px 10px 34px;
	background: #FF5C00;
	animation: fadein_trans 2s ease-in-out;
}

@keyframes fadein_trans {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: none;
	}

}

/* Slideshow container */
.slideshow-containers {
	max-width: 1080px;
	position: relative;
	margin: auto;
	background: #fff;
}

/* The dots/bullets/indicators */
.dots_line {
	position: absolute;
	bottom: 66px;
	left: 80px;
}

.dots {
	height: 2px;
	width: 90px;
	margin: 0 2px;
	background-color: #bbbbbb;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.actives {
	background-color: #000000;
}

/* Fading animation */
.fades {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

.menu_img {
	width: 1080px;
	height: 1000px;
	overflow: hidden;
}

/*********** main header *********/
@media (max-width: 1920px) {

	.megaDrop {
		max-width: 1920px;
	}

	.mega_menu {
		width: 100%;
	}
}

@media (max-width: 1700px) {
	.treeDepth li {
		width: 50%;
		background: none;
	}

	.treeDepth li:nth-child(1n+2) {
		background: #fbfbfb;
	}

	.treeDepth li:nth-of-type(1) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(4) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(5) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(8) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(9) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(12) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(13) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(16) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-of-type(17) {
		background: #f5f5f5;
	}
}

@media (max-width: 1360px) {
	.treeDepth li {
		width: 100%;
	}

	.treeDepth li:nth-child(1n) {
		background: #f5f5f5;
	}

	.treeDepth li:nth-child(2n) {
		background: #fbfbfb;
	}
}