/* product */


.product_Wrap {
	position: relative;
	height: 590px;
	background: #F9F9F9;
}

.product_Wrap .bg_img {
	z-index: 990;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}

.product_Wrap img {
	height: 590px;
}

.product_Wrap .title {
	position: absolute;
	top: 225px;
	left: 50%;
	margin-left: -660px;
	z-index: 999;
}

.product_Wrap .title .tite {
	font-size: 50px;
	line-height: 60px;
	color: #000;
	margin-bottom: 25px;
}

.product_Wrap .title .mtitle {
	font-size: 50px;
	line-height: 60px;
	color: #000000;
	margin-bottom: 25px;
}

.product_Wrap .title .stitle {
	font-size: 16px;
	line-height: 28px;
	color: #4a4a4a;
}

.en .product_Wrap .title .stitle {
	line-height: 1.6;
	width: 640px;
}

.detail_large_img img {
	height: 724px;
}

.detail_large_img li {
	float: left;
	width: 724px;
	text-align: center;
	margin-right: 20px;
	overflow: hidden;
}

.pro_indicator {
	z-index: 999;
	position: absolute;
	top: 40px;
	width: 260px;
	right: 50%;
	margin-right: -660px;

}

.tabmenus_Wrap {
	margin-top: 86px;
}

.tabmenus {
	position: relative;
	margin-top: 130px;
	width: 1320px;
	margin: 0 auto;
}

.tabmenus li {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	float: left;
	margin-right: 36px;
}

.tabmenus li a {
	display: block;
	width: 100%;
	padding: 14px 0;
	font-weight: 500;
	color: #666666;
}

.product_list {
	display: block;
	width: 1320px;
	margin: 0 auto;
	margin-top: 50px;
}

.product_list li {
	float: left;
	background: #F9F9F9;
	margin: 0 18px 18px 0;
	text-align: center;
}

.product_list li:nth-child(3n) {
	margin: 0 0 18px 0;
}

.product_list li a {
	display: block;
	width: 428px;
	height: 624px;
	padding: 74px 40px 40px 40px;
}

.product_list .pro_img {
	width: 312px;
	height: 312px;
}

.product_list .tag {
	min-height: 16px;
	font-size: 13px;
	line-height: 16px;
	color: #6f6f6f;
	margin: 34px 0 8px 0;
	text-align: center;
}

.product_list .title {
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	font-weight: 500;
	margin-bottom: 24px;
	text-align: center;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 52px;
}

.product_list .bcopy {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 22px;
	font-size: 14px;
	color: #313131;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product_list .size {
	font-size: 13px;
	line-height: 16px;
	color: #929292;
	text-align: center;
}

.detail_wrap {
	width: 1320px;
	margin: 0 auto;
	padding: 38px 0 0 0;
}

.detail_pop_wrap {
	width: 724px;
	margin: 0 auto;
	padding: 0;
}

.detail_large_img .large_size {
	width: 724px;
}

.detail_img {
	float: left;
	position: relative;
}

.detail_img .zoomin {
	position: absolute;
	bottom: -42px;
	left: 50%;
	transform: translateX(-50%);
}

.detail_img .zoomin a,
.detail_img .zoomin button {
	display: block;
	width: 32px;
	height: 32px;
}

.detail_img .zoomin img {
	width: 100%;
}

.detail_img .img_size {
	width: 594px;
	height: 594px;
}

.items {
	float: left;
	text-align: center;
	width: 92px;
	height: 520px;
	margin: 50px 96px 0 40px;
}

.items img {
	width: 100%;
	height: 100%;
}

.items .ud_size {
	width: 32px;
	height: 32px;
}

.items>button {
	width: 32px;
	height: 32px;
}

.items .arrow_up {
	background: url('../images/icon/detail_arrow_up_d.png') no-repeat center / 100%;
}

.items .arrow_up.active {
	background-image: url('../images/icon/detail_arrow_up.png');
}

.items .arrow_down {
	background: url('../images/icon/detail_arrow_down_d.png') no-repeat center / 100%;
}

.items .arrow_down.active {
	background-image: url('../images/icon/detail_arrow_down.png');
}

.items .pro_items {
	height: 460px;
	overflow-y: hidden;

}

.items .pro_items li {
	text-align: center;
	position: relative;
	transition: all .3s;
}

.items .pro_items li a,
.items .pro_items li button {
	display: block;
	width: 92px;
	height: 92px;
	opacity: .5;
}

.items .pro_items li.active {
	box-shadow: 0 0 0 1px #000 inset;
}

.items .pro_items li.active a,
.items .pro_items li.active button {
	opacity: initial;
}

.items .pro_items .item_size {
	padding: 12px 18px;
}

.items .pro_items img {
	width: 100%;
	height: 100%;
}

.detail_data {
	float: left;
	width: 498px;
	min-height: 510px;
	padding-bottom: 28px;
	margin-top: 66px;
	position: relative;
}

.detail_data .title {
	position: relative;
	line-height: 42px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1.5px solid #000;
	font-size: 38px;
	font-weight: 500;
	color: #000;
}

.line {
	position: relative;
	margin-bottom: 25px;
}

.detail_data .name {
	float: left;
	width: 80px;
	line-height: 28px;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
}

.en .detail_data .name {
	width: 102px;
}


.detail_data .model {
	position: relative;
	float: left;
	line-height: 28px;
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.detail_data .data {
	position: relative;
	float: left;
	font-size: 16px;
	line-height: 28px;
	color: #666;
}

.detail_data .data li {
	position: relative;
	display: flow-root;
	width: 395px;
}

.en .detail_data .data li {
	width: 375px;
	margin-bottom: 6px;
}

.en .detail_data .data li:last-child {
	margin-bottom: 0;
}


.detail_data .data li .tit {
	float: left;
	position: relative;
	width: 76px;
	margin-right: 10px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 500;
	color: #666666;
}

.en .detail_data .data li .tit {
	line-height: 1.6;
	width: auto;
}


.detail_data .data li .stit {
	float: left;
	position: relative;
	width: 309px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
}

.en .detail_data .data li .stit {
	line-height: 1.6;
}

.detail_data .desc {
	position: relative;
	float: left;
	font-size: 16px;
	line-height: 28px;
	color: #666;
	font-weight: 300;
	padding-left: 0;
	width: 398px;
	max-height: 80px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.en .detail_data .desc {
	line-height: 1.6;
	max-height: none;
	width: 375px;
}

.cata {
	margin-top: 20px;
	padding: 20px 20px 0 20px;
	border-top: 1px solid #d9d9d9;
}

.cata .box {
	position: relative;
	margin-bottom: 8px;
}

.cata .box:last-child {
	margin-bottom: 0;
}

.cata .box .icon {
	float: left;
	width: 34px;
	height: 34px;
	margin-right: 6px;
}

.cata .box .icon img {
	width: 34px;
	height: 34px;
}

.cata .box .catalo {
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 17px;
	margin-top: 8px;
	color: #000000;
}

.cata .box .down {
	float: right;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-top: 8px;
	border-bottom: 1px solid #000;
}

.cata .box .cata a {
	color: #000000;
}

.detail_data button {
	position: absolute;
	bottom: -60px;
	width: 100%;
	height: 50px;
	padding: 15px 0;
	background: #000;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
}

.detail_data button:hover {
	background-color: #313131;
}

.detail_tab_Wrap {
	/* opacity: 0; */
	position: absolute;
	width: 100%;
	margin-top: 152px;
	z-index: 999;
}

.detail_box {
	/* max-width: 1920px;
	margin: 0 auto; */
	background: #f9f9f9;
	height: 80px;
	transition: all 0.1s;
}

.detail_tab_Wrap.fixed .detail_box {
	background-color: #000;
}

.detail_tab {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	padding: 17px 0 18px;
}

.detail_tab > a {
	float: left;
	display: block;
	width: auto;
	line-height: 44px;
	margin-right: 70px;
	background-color: transparent;
	font-size: 15px;
	font-weight: 500;
	color: #666;
	opacity: .6;
}

.detail_tab > a.caseOfInstall_empty,
.detail_tab > a.prod_desc_empty {
	display: none;
}

.detail_tab_Wrap.fixed .detail_tab > a:not(:last-child) {
	color: #fff;
	opacity: .6;
}

.detail_tab_Wrap.fixed .detail_tab > a.active {
	opacity: 1;
}

.detail_tab > a:last-child {
	float: right;
	opacity: initial;
	visibility: hidden;
}

.detail_tab_Wrap.fixed .detail_tab > a:last-child {
	visibility: visible;
}

.fixed {
	position: fixed;
	width: 100%;
	top: 0px;
	opacity: 1;
	margin-top: 0;
	background: #ffffff;
	z-index: 9998;
}

.detail_tab button {
	float: right;
	top: 0;
	right: 0;
	/* width: 187px; */
	height: 45px;
	line-height: 35px;
	padding: 5px 45px;
	border: 1px solid rgba(255, 255, 255, .6);
	font-size: 16px;
	font-weight: 500;
	color: #fff;

}

.detail_tab button:hover {
	border-color: rgba(255, 255, 255, 1);
	font-weight: 600;
}

.detail_content_Wrap {
	position: relative;
	width: 1920px;
	left: 50%;
	margin-top: 232px;
	margin-left: -960px;
}

.detail_content_Wrap img {
	width: 1920px;
}

.explans {
	position: relative;
	padding: 185px 135px 150px;
}

.explans .title {
	font-size: 40px;
	line-height: 52px;
	text-align: center;
	margin-bottom: 30px;
	color: #000;
}

.explans .stitle {
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	color: #4A4A4A;
	margin-bottom: 80px;
}

.explans img {
	width: 100%
}

.caption {
	position: relative;
	background: #F9F9F9;
	padding: 150px 0;
	/* height: 987px; */
}

/* .caption.prod_desc_empty {
	background-color: initial;
} */

.caption.prod_desc_empty + .mill_help.caseOfInstall_empty {
	background-color: #fff;
}

.caption .box {
	width: 1320px;
	margin: 0 auto;
}

.caption .title {
	width: 1320px;
	line-height: 60px;
	margin: 0 auto;
	font-size: 36px;
	font-weight: 500;
	color: #000;
}

.caption .box {
	position: relative;
	margin-top: 65px;
}

.caption .box ul {
	width: 600px;
	float: left;
}

.caption .box ul.bp_empty {
	width: 100%;
}

.caption .box ul li {
	display: flex;
    padding: 22px 0;
    border-bottom: 1px solid #d9d9d9;
    min-height: 64px;
}

.caption .box ul li .title {
	color: #000;
    font-size: 16px;
    line-height: 20px;
    width: 80px;
    margin: 0 60px 0 0;
}

.en .caption .box ul li .title {
	width: 140px;
	margin: 0 30px 0 0;
}

.caption .box ul li .bcopy {
	font-size: 16px;
    line-height: 22px;
    color: #6f6f6f;
    width: 428px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.en .caption .box ul li .bcopy {
	width: 454px;
}

.caption .box img {
	float: left;
	width: 480px;
	height: 570px;
	margin-left: 132px;
}

.detail_reward {
	position: relative;
	width: 1320px;
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 160px;
}

/* .detail_reward.prod_desc_empty {
	padding-top: initial;
} */

.detail_reward .title {
	position: relative;
	line-height: 60px;
	font-size: 36px;
	font-weight: 500;
	color: #000;
}

.detail_reward_list {
	display: block;
	width: 1320px;
	margin: 0 auto;
	margin-top: 60px;
}

.detail_reward_list li {
	float: left;
	width: 428px;
	margin: 0 18px 0 0;
}

.detail_reward_list li:last-child {
	margin-right: 0;
}

.detail_reward_list li .list_img {
	width: 428px;
	height: 300px;
}

.detail_reward_list li .list_img img {
	width: 100%;
	height: 100%;
}

.detail_reward_list li .tag {
	font-size: 13px;
	color: #FF5F00;
	line-height: 20px;
	margin: 40px 0 8px 0;
}

.detail_reward_list li .title {
	font-size: 22px;
	line-height: 35px;
	color: #000000;
	height: 70px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 15px;
}

.detail_reward_list li .bcopy {
	font-size: 14px;
	line-height: 27px;
	color: #6f6f6f;
}

.mill_help {
	position: relative;
	height: 300px;
	padding-top: 70px;
	background: #F9F9F9;
}

.mill_help.caseOfInstall_empty {
	background-color: #fff;
}

.mill_help .box {
	position: relative;
	width: 1320px;
	margin: 0 auto;
}

.mill_help .box .title {
	float: left;
	width: 222px;
	line-height: 36px;
	margin-right: 196px;
	font-size: 26px;
	font-weight: 500;
	color: #000;
}

.en .mill_help .box .title {
	float: left;
	width: 302px;
	line-height: 36px;
	margin-right: 116px;
	font-size: 1.4;
	font-weight: 500;
	color: #000;
}

.mill_help .box .helps {
	float: left;
	position: relative;
}

.mill_help .box .helps li {
	float: left;
	margin-right: 30px;
}

.mill_help .box .helps li a {
	display: block;
	width: 200px;
	height: 140px;
	padding: 20px;
}

.mill_help .box .helps li:not(:last-child) a {
	border-right: 0.5px solid #d9d9d9;
}

.mill_help .box .helps li:last-child {
	margin-right: 0;
}

.mill_help .box .helps li .tit {
	width: 100%;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: 500;
	color: #222;
}

.mill_help .box .helps li .tit span {
	position: absolute;
	margin: 4px 6px;
	background: url(../images/icon/help_arrow.png) no-repeat 0 0;
	background-size: 100% 100%;
	width: 9px;
	height: 13px;
}

.mill_help .box .helps li .sit {
	width: 100%;
	font-size: 13px;
	line-height: 18px;
	color: #6f6f6f;
}

.mill_help .box .helps li .icon {
	margin-bottom: 8px;
}

.mill_help .box .helps li img {
	width: 100%;
	height: 100%;
}

.mill_help .box .helps li .cont {
	width: 30px;
	height: 30px;
}

.help_center {
	position: relative;
	height: 300px;
	background: #000;
}

.bgW {
	background: #ffffff;
	margin-top: 216px;
}