/* skill */

.sectionWrap {
	width: 1320px;
	margin: 0 auto;
}

.main_attributes {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 160px 0 200px;
}

.main_attributes h3 {
	font-size: 36px;
	font-weight: 500;
	line-height: 47px;
	color: #000;
	letter-spacing: -0.01em;
	text-align: center;
}

.main_attributes ul {
	display: flex;
	margin-top: 60px;
}

.main_attributes ul li {
	width: 380px;
	border-top: 1px solid #bbb;
}

.main_attributes ul li ~ li {
	margin-left: 90px;
}

.main_attributes ul li h4 {
	margin-top: 24px;
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
	color: #000;
	letter-spacing: -0.01em;
}

.main_attributes ul li span {
	display: inline-block;
	margin-top: 14px;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #4A4A4A;
	letter-spacing: -0.01em;
}

.main_attributes ul li .flood_text {
	width: 385px;
}

.skill_Wrap {
	position: relative;
	margin-top: 200px;
}

.skill_Wrap .tags {
	margin-bottom: 40px;
	line-height: 31px;
	font-size: 26px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.01em;
}

.skill_Wrap .title {
	float: left;
	width: 450px;
}

.skill_Wrap .title .tite {
	line-height: 42px;
	margin-bottom: 20px;
	font-size: 36px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.01em;
}

.en .skill_Wrap .title .tite {
	line-height: 50px;
}

.skill_Wrap .title .tag {
	width: 180px;
	padding: 10px 16px;
	margin-top: 5px;
	line-height: 16px;
	background: #F9F9F9;
	font-size: 13px;
	font-weight: 500;
	color: #929292;
	text-align: center;
	letter-spacing: -0.01em;
}

.en .skill_Wrap .title .tag {
	width: fit-content;
	margin-top: 20px;
}

.skill_Wrap .conte {
	float: left;
	width: 870px;
}

.skill_Wrap .conte .stitle {
	font-size: 26px;
	line-height: 31px;
	color: #000000;
	margin-bottom: 20px;
}

.skill_Wrap .conte .btitle {
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
	margin-bottom: 60px;
}

.skill_Wrap .conte .btitle.type02 {
	font-size: 18px;
	line-height: 30px;
	color: #4a4a4a;
	letter-spacing: -0.01em;
}

.skill_Wrap .conte .control_title {
	line-height: 26px;
	margin-bottom: 14px;
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.skill_Wrap .conte .control_title_W {
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	margin-bottom: 26px;
}

.skill_Wrap .conte .control {
	position: relative;
	margin-top: 30px;
}

.skill_Wrap .conte .control .box {
	display: block;
	float: left;
	width: 192px;
	margin: 0 34px 0 0;
}

.skill_Wrap .conte .control .box:last-child {
	margin: 0;
}

.skill_Wrap .conte .control .boxs {
	display: block;
	float: left;
	width: 200px;
	margin: 0 23px 0 0;
}

.skill_Wrap .conte .control .boxs:nth-child(4n) {
	margin: 0;
}

.skill_Wrap .conte .control .lcd-box {
	display: block;
	float: left;
	width: 414px;
	margin: 0 42px 0 0;
}

.skill_Wrap .conte .control .lcd-box:last-child {
	margin: 0;
}

.skill_Wrap .conte .control .lcd-img img {
	width: 419px;
	margin-bottom: 30px;
}

.skill_Wrap .conte .control .icons {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.skill_Wrap .conte .control .icons img {
	width: 100%;
	height: 100%;
}

.skill_Wrap .conte .control .ctitle {
	line-height: 30px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	color: #000000;
	letter-spacing: -0.01em;
}

.skill_Wrap .conte .control .bcopy {
	line-height: 20px;
	font-size: 13px;
	letter-spacing: -0.01em;
}

.skill_Wrap .conte .control_diag {
	width: 870px;

}

.skill_Wrap .conte .box {
	margin-bottom: 0;
}

.banner_oven {
	position: relative;
	height: 800px;
}

.banner_oven img {
	height: 800px;
}

.banner_oven .bg_img {
	z-index: 990;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}

.banner_oven .title {
	z-index: 999;
	position: absolute;
	width: 473px;
	top: 308px;
	left: 50%;
	margin-left: -600px;
	text-align: center;
}

.banner_oven .tag {
	font-size: 20px;
	line-height: 24px;
	color: #929292;
	margin-bottom: 20px;
	text-align: center;
}

.banner_oven .mtitle {
	font-size: 36px;
	line-height: 43px;
	color: #000000;
	margin-bottom: 20px;
	letter-spacing: -2px;
}

.banner_oven .mtitle_W {
	font-size: 36px;
	line-height: 43px;
	color: #ffffff;
	margin-bottom: 20px;
	letter-spacing: -2px;
}

.banner_oven .stitle {
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}

.banner_oven .stitle_W {
	font-size: 16px;
	line-height: 26px;
	color: #fbfbfb;
}

.banner_oven .title_C {
	z-index: 999;
	position: absolute;
	top: 308px;
	left: 50%;
	margin-left: -230px;
	text-align: center;
}

.group_area {
	display: block;
	margin-bottom: 200px;
}

.group_area:last-child {
	margin-bottom: 0px;
}

.end {
	margin-bottom: 200px;
}


.rnd_Wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
	padding: 130px 0 0;
}

.rnd_Wrap .title {
	float: left;
	width: 450px;
	font-size: 36px;
	line-height: 42px;
	color: #fff;
}

.rnd_Wrap .title .tag {
	margin-top: 20px;
	font-size: 18px;
	line-height: 30px;
	color: #929292;
}

.rnd_Wrap .conte {
	float: left;
	width: 870px;
}

.rnd_Wrap .conte .stitle {
	font-size: 26px;
	line-height: 31px;
	color: #fff;
	margin-bottom: 20px;
}

.rnd_Wrap .conte .btitle {
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
	margin-bottom: 60px;
}

.rnd_Wrap .conte .control_title {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin-bottom: 26px;
}

.rnd_Wrap .conte .control {
	position: relative;
}

.rnd_Wrap .conte li {
	display: block;
	float: left;
	width: 250px;
	margin: 0 60px 80px 0;
}

.rnd_Wrap .conte li:nth-child(3n) {
	margin: 0;
}

.rnd_Wrap .conte .control .icons {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.rnd_Wrap .conte .control .icons img {
	width: 100%;
	height: 100%;
}

.rnd_Wrap .conte .control .ctitle {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-align: center;
	margin-bottom: 10px;
}

.rnd_Wrap .conte .control .bcopy {
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}

.rnd_Wrap .conte .control_diag {
	width: 870px;

}

.rnd_Wrap .conte .control_img {
	padding-left: 113px;
	height: 230px;

}

.rnd_Wrap .conte .tag {
	margin-top: 40px;
	text-align: center;

}

.rnd_Wrap .conte .box {
	text-align: center;
}

.banner_rnd {
	position: relative;
	height: 1080px;
}

.banner_rnd img {
	height: 1080px;
}

.banner_rnd .bg_img {
	z-index: 990;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
}

.banner_rnd .title {
	z-index: 999;
	position: absolute;
	top: 130px;
	left: 50%;
	margin-left: -650px;
	text-align: center;
}

.banner_rnd .title .mtitle {
	font-size: 36px;
	line-height: 43px;
	color: #ffffff;
	margin-bottom: 130px;
	letter-spacing: -2px;
}

.banner_rnd .title .diag {
	width: 1286px;
	height: 542px;
}


.control .rnd-box {
	display: block;
	float: left;
	width: 645px;
	margin: 0 30px 40px 0;
}

.control .rnd-box:last-child {
	margin: 0;
}

.control .rnd-box:nth-child(2n) {
	margin: 0;
}

.control .rnd-box:nth-child(4n) {
	margin: 0;
}

.control .rnd-box .rnd-img img {
	width: 645px;
	margin-bottom: 10px;
}

.rtitle {
	font-weight: 500;
	font-size: 26px;
	line-height: 31px;
	margin-bottom: 20px;
	color: #000;
}

.rbcopy {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 60px;
	color: #000;
}

.control .rnd-box .ctitle {
	line-height: 26px;
	font-size: 16px;
	color: #000000;
	letter-spacing: -0.01em;
}

.rtitle_Wrap {
	position: relative;
	width: 1320px;
	margin: 0 auto;
	padding: 130px 0 0;
}

.rtitle_Wrap .title {
	line-height: 58px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.01em;
	text-align: center;
}

.en .rtitle_Wrap .title {
	font-size: 36px;
}

.rtitle_Wrap .stitle {
	text-align: center;
	font-size: 16px;
	line-height: 26px;
	color: #6f6f6f;
	margin-bottom: 60px;
}

.rtitle_Wrap .stitle.type02 {
	font-size: 18px;
	color: #000;
}

.rtitle_Wrap img {
	width: 100%;
}

.banner_tech {
	position: relative;
	height: 871px;
	padding: 130px 0;
	margin-top: 160px;
	background: #F9F9F9;
	text-align: center;
}

.banner_tech img {
	height: 438px;
	text-align: center;
}

.banner_tech .title {
	margin-bottom: 80px;
}

.banner_tech .title .mtitle {
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	margin-bottom: 20px;
	color: #000;
}

.banner_tech .title .stitle {
	font-size: 18px;
	line-height: 30px;
	color: #000;
}