@charset "utf-8";
@import url('font.css');

*,
*::before,
*::after {
	/* 테두리를 기준으로 크기를 정합니다. */
	box-sizing: border-box;
}

/* 텍스트 마우스 드래그시 색상 변경방법 */
::selection,
::-moz-selection {
	background: #39f;
	color: #fff;
	text-shadow: none;
}

html {
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	/* 단위 쓰지 말것 */
	background-color: #fff;
	color: #4d5058;
	/* 글꼴 크기 조정을 방지 */
	-webkit-text-size-adjust: 100%;
	/* 폰트를 부드럽게 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* 웹킷 마음대로 눌림 하이라이트 막음 */
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

main {
	display: block;
}

.wrap {
	position: relative;
}

.content {
	position: relative;
	width: 1050px;
	margin: 96px 50px 0px 180px;
	/* z-index: 9990; */
}

.LNB {
	width: 180px;
	height: calc(100vh - 3.5rem);
	border-right: 1px solid #c5c5c5;
	background: #fbfbfb;
	/* z-index: 9999; */
}

/* 기본 셋업 */
header,
section,
article,
aside,
footer,
main,
a,
button,
input,
textarea,
img,
nav,
ul,
ol,
li,
p,
form,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span {
	padding: 0;
	margin: 0;
	/* 폰트 크기 상속 */
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
	/* font-size: inherit; */ /* 에디터 관련하여 일시 주석 처리 */
}

select, 
table {
	font-family: 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
}

input {
	/* border: 1px solid #000000; */ /* 에디터 관련하여 일시 주석 처리 */
	letter-spacing: -0.01em;
}

input[type='date']::before {
	content: attr(data-placeholder);
	width: 100%;
}

label {
	display: initial;
	max-width: initial;
	margin: initial;
	font-weight: initial;
}

title {
	display: inline-block;
	padding-right: 20px;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
	display: none;
}

input#file-upload-button {
	display: none;
}

.int_btn {
	position: relative;
	display: block;
	width: 100%;
}

/* 파일 첨부 시 이미지 링크 */
.int_btn > a {
	position: absolute;
	top: 50%;
	left: 135px;
	transform: translateY(-50%);
	max-width: 77%;
	padding-right: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.int_btn.box_type01 > a {
	max-width: 64%;
}

.int_btn.box_type02 > a {
	max-width: 75%;
}

.int_btn.box_type03 > a {
	max-width: 80%;
}

.int_btn > a.type_left_01 {
	left: 180px;
	font-size: 14px;
	font-weight: 500;
}

.int_btn > a > button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: url(../images/file_upload_close.svg);
}

table.category_03.type02 .int_btn > a {
	font-size: 13px;
}
/* //파일 첨부 시 이미지 링크 */

.int_btn .upload-name {
	width: 94.1%;
	height: 38px;
	line-height: 1;
	padding: 8px 15px 8px 128px;
	border: 1px solid #000000;
	background-color: #ffffff;
	font-size: 13px;
}

.int_btn label {
	position: absolute;
	top: 0;
	left: 44px;
	cursor: pointer;
}

.int_btn .upload-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
}

.btn_text {
	display: inline-block;
	width: 120px;
	height: 38px;
	line-height: 36px;
	background: #000000;
	color: #ffffff;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
}

div.g-browser-icons table.category_03 tbody tr .link_attach_area label {
	margin-right: 20px;
}


a:active,
a:hover {
	outline: none;
}

a {
	color: #1e87f0;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #0f6ecd;
	text-decoration: underline;
}

/* 에디터 관련하여 일시 주석 처리 */
/* b,
strong {
	position: relative;
	top: 2px;
	font-weight: bolder;
	color: #ff5f00;
} */
/* 에디터 관련하여 일시 주석 처리 */

strong {
	position: relative;
	top: 2px;
	font-weight: bolder;
	color: #ff5f00;
}

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
	padding: 2px 6px;
	background: #f8f8f8;
	font-size: 0.875rem;
	color: #f0506e;
	white-space: nowrap;
}

em {
	color: #f0506e;
}

ins {
	background: #ffd;
	color: #666;
	text-decoration: none;
}

mark,
.mark {
	background: #ffd;
	color: #666;
}

q {
	font-style: italic;
}

small,
.small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	line-height: 0;
	font-size: 75%;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

canvas,
img,
video {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

table.category_03 tbody tr th.input_area input.magic_radio {
	width: 20px;
	height: 20px;
	margin-left: 0px;
}

table.category_03 tbody tr td.input_area input.magic_radio {
	width: 20px;
	height: 20px;
	margin-left: 0px;
}

.magic_radio {
	position: relative;
	top: 1px;
	width: 20px;
	height: 20px;
	padding-right: 10px;
	user-select: auto;
}

.magic_radio_label {
	position: relative;
	top: 2px;
	margin-right: 50px;
	margin-left: 8px;
	font-size: 14px;
	font-weight: 500;
	vertical-align: super;
	user-select: auto;
}

:root {
	accent-color: #ff5f00;
}

@supports (display: block) {
	svg {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}
}

select {
	border: 1px solid #000000;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

svg:not(:root) {
	overflow: hidden;
}

img:not([src]) {
	min-width: 1px;
	visibility: hidden;
}

iframe {
	border: 0;
}

/* 에디터 관련하여 일시 주석 처리 */
/* p {
	margin-top: 0;
	margin-bottom: 1rem;
} */
/* //에디터 관련하여 일시 주석 처리 */

/* 인접한 요소 인 경우 여백 추가 */
/* 에디터 관련하여 일시 주석 처리 */
/* * + p {
	margin-top: 1rem;
} */
/* //에디터 관련하여 일시 주석 처리 */

ul,
ol,
dl,
pre,
address,
fieldset,
figure {
	margin: 15px 0 15px 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	border-bottom: 1px solid #c5c5c5;
	border-top: 1px solid #000000;
}

#layer_popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 100;
}

#layer_popup.active {
	display: block;
}

.dim_bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .5);
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 604px;
	height: 653px;
	background-color: white;
}

.popup_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px 40px;
}

.popup_title h2 {
	display: inline-block;
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.01em;
}

.popup_content {
	position: relative;
	width: 603px;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
	margin: 0px;
}

.popup_content .inventory {
	position: absolute;
	bottom: -300px;
	display: none;
	width: 100%;
	height: 200px;
	padding: 30px 20px 20px;
	background-color: azure;
	text-align: center;
	overflow-y: auto;
}

.popup_content .inventory::after {
	content: '선택한 제품';
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.popup_content .inventory ul {
	display: flow-root;
	margin: 0;
}

.popup_content .inventory ul li {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	padding: 10px;
	border: 1px solid #000;
	margin-top: 5px;
	list-style: none;
	word-break: keep-all;
}

.popup_content .inventory ul li ~ li {
	margin-left: 5px;
}

.popup_content .inventory ul li:nth-child(5n + 1) {
	margin-left: 0;
}

.popup_content .inventory ul li span {
	font-size: 10px;
	font-weight: 500;
}

.popup_table {
	width: 100%;
	text-align: left;
	border: none;
}

.popup_table thead {
	padding: 11px 0px 11px 40px;
}

.popup_search {
	display: flex;
  justify-content: space-between;
	padding: 10px 40px 20px 40px;
}

.popup_search select {
	width: 256px;
	height: 38px;
	padding-left: 18px;
	background: url('../images/select_icon.svg') no-repeat right 8px center / 32px;
}

.popup_close {
	width: 24px;
	height: 24px;
	background: url('../images/popup_close_icon.svg') center / 100% no-repeat;
}

.popup_table thead tr {
	position: relative;
	height: 49px;
	border-top: 1px solid #929292;
	border-bottom: 1px solid #929292;
	background-color: #e6e6e6;
}

.popup_table thead tr th {
	display: flex;
	align-items: center;
	height: 49px;
	padding-left: 40px;
}

.popup_table thead tr th label {
	position: relative;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

.popup_table thead tr th input {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
	margin: 0;
	box-sizing: border-box;
}

.popup_table tbody {
	position: relative;
	display: block;
	height: 358px;
	overflow-y: auto;
}

.popup_table tbody::-webkit-scrollbar {
	width: 18px;
}

.popup_table tbody::-webkit-scrollbar-thumb {
	border: 6px solid transparent;
	border-radius: 10px;
	background: #e6e6e6;
	background-clip: padding-box;
}

.popup_table tbody tr {
	display: block;
	width: 100%;
	height: 34px;
	font-size: 14px;
}

.popup_table tbody tr td {
	display: flex;
	align-items: center;
	width: 100%;
	height: 35px;
	padding-left: 40px;
	border-bottom: 1px solid #e6e6e6;
}

.popup_table tbody tr td input {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
	margin: 0;
	box-sizing: border-box;
}

.popup_table tbody tr td label {
	height: 100%;
	line-height: 35px;
	margin-left: 10px;
}

.popup_btn {
	width: 148px;
	height: 38px;
	line-height: 40px;
	background: #ff5f00;
	font-size: 13px;
	font-weight: 500;
	color: #ffffff;
	letter-spacing: -0.01em;
}

.popup_btn_wrap {
	align-content: center;
	padding: 20px 227px 40px 228px;
	margin: auto;
}

thead.table_style_01 tr th:nth-child(1),
thead.table_style_01 tr th:nth-child(2) {
	width: 6%;
}

thead.table_style_01 tr th:nth-child(3) {
	width: 30%;
}

thead.table_style_01 tr th:nth-child(4) {
	width: 10%;
}

thead.table_style_01 tr th:nth-child(5) {
	width: 17%;
}

thead.table_style_01 tr th:nth-child(6) {
	width: 18%;
}

thead.table_style_01 tr th:nth-child(7) {
	width: 13%;
}

thead.table_style_02 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_02 tr th:nth-child(2) {
	width: 7%;
}

thead.table_style_02 tr th:nth-child(3) {
	width: 76%;
}

thead.table_style_02 tr th:nth-child(4) {
	width: 11%;
}

thead.table_style_03 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_03 tr th:nth-child(2) {
	width: 7%;
}

thead.table_style_03 tr th:nth-child(3) {
	width: 54%;
}

thead.table_style_03 tr th:nth-child(4),
thead.table_style_03 tr th:nth-child(5),
thead.table_style_03 tr th:nth-child(6) {
	width: 11%;
}

thead.table_style_04 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_04 tr th:nth-child(2) {
	width: 40%;
}

thead.table_style_04 tr th:nth-child(3) {
	width: 17%;
}

thead.table_style_04 tr th:nth-child(4) {
	width: 17%;
}

thead.table_style_04 tr th:nth-child(5) {
	width: 18%;
}

thead.table_style_04 tr th:nth-child(6) {
	width: 13%;
}

thead.table_style_05 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_05 tr th:nth-child(2) {
	width: 7%;
}

thead.table_style_05 tr th:nth-child(3) {
	width: 13%;
}

thead.table_style_05 tr th:nth-child(4) {
	width: 63%;
}

thead.table_style_05 tr th:nth-child(5) {
	width: 11%;
}

thead.table_style_06 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_06 tr th:nth-child(2) {
	width: 7%;
}

thead.table_style_06 tr th:nth-child(3) {
	width: 16%;
}

thead.table_style_06 tr th:nth-child(4) {
	width: 60%;
}

thead.table_style_06 tr th:nth-child(5) {
	width: 11%;
}

thead.table_style_07 tr th:nth-child(1) {
	width: 6%;
}

thead.table_style_07 tr th:nth-child(2) {
	width: 7%;
}

thead.table_style_07 tr th:nth-child(3) {
	width: 14%;
}

thead.table_style_07 tr th:nth-child(4) {
	width: 28%;
}

thead.table_style_07 tr th:nth-child(5) {
	width: 11%;
}

thead.table_style_07 tr th:nth-child(6) {
	width: 8%;
}

thead.table_style_07 tr th:nth-child(7) {
	width: 15%;
}

thead.table_style_07 tr th:nth-child(8) {
	width: 11%;
}

thead.table_style_08 tr th:nth-child(1),
thead.table_style_08 tr th:nth-child(2) {
	width: 5.8%;
}

thead.table_style_08 tr th:nth-child(3) {
	width: 23.5%;
}

thead.table_style_08 tr th:nth-child(4) {
	width: 23.7%;
}

thead.table_style_08 tr th:nth-child(5) {
	width: 10.8%;
}

thead.table_style_08 tr th:nth-child(6) {
	width: 16.4%;
}

thead.table_style_08 tr th:nth-child(7) {
	width: 14%;
}

div.search_table_wrap table.category_01 tbody tr td a {
	text-decoration-line: underline;
	text-align: left;
}

.t_a_t {
	text-align: top !important;
}

.t_1_5 {
	top: -1.5px;
}

.mgupdown10 {
	margin: 10px 0px !important;
	margin-top: -1px !important;
}

.mg10 {
	margin: 10px 0px !important;
}

.mg_b0 {
	margin-bottom: 0px !important;
}

.mg_b10 {
	margin-bottom: 10px !important;
}

.mg_l0 {
	margin-left: 0px !important;
}

.mg_l20 {
	margin-left: 20px !important;
}

.mg_l44 {
	margin-left: 44px !important;
}

.mg_r50 {
	margin-right: 50px !important;
}

.mg_t0 {
	margin-top: 0px !important;
}

.mg_t10 {
	margin-top: 10px !important;
}

.pl_12 {
	padding-left: 12px !important;
}

.pl_20 {
	padding-left: 20px !important;
}

.pl_0 {
	padding-left: 0px !important;
}

.pl_18 {
	padding-left: 18px !important;
}

.pl_44 {
	padding-left: 44px !important;
}

.pt_10 {
	padding-top: 10px !important;
}

.pb_10 {
	padding-bottom: 10px !important;
}

.p_1018 {
	padding: 10px 18px !important;
}

.p_00011 {
	padding: 0 0 0 11px !important;
}

.p_00010 {
	padding: 0 0 0 10px !important;
}

.p_100018 {
	padding: 10px 0px 0px 18px;
}

.p_10000 {
	padding: 10px 0px 0px 0px;
}

.bt_0 {
	border-top: 0px !important;
}

.bt_1_0 {
	border-top: 1px solid #000000 !important;
}

.bt_1_9 {
	border-top: 1px solid #929292 !important;
}

.bt_1_b {
	border-top: 1px solid #bbbbbb !important;
}

.br_1_0 {
	border-right: 1px solid #bbbbbb !important;
}

.h_a {
	height: auto !important;
}

.i_b {
	display: inline-block !important;
}

.b_b1 {
	border-bottom: 1px solid #bbbbbb !important;
}

.b_b1_9 {
	border-bottom: 1px solid #929292 !important;
}

.h58 {
	height: 58px !important;
}

.h80 {
	height: 80px !important;
}

.h108 {
	height: 108px !important;
}

.h115 {
	height: 115px !important;
}

.h128 {
	height: 128px !important;
}

.h168 {
	height: 168px !important;
}

.h188 {
	height: 188px !important;
}

.h278 {
	height: 278px !important;
}

.w16 {
	width: 19% !important;
}

.w19 {
	width: 19% !important;
}

.w15 {
	width: 15% !important;
}

.w40 {
	width: 40% !important;
}

.w42 {
	width: 42% !important;
}

.w65 {
	width: 65% !important;
}

.w83 {
	width: 83% !important;
}

.w87 {
	width: 87% !important;
}

.w90 {
	width: 90% !important;
}

.w90_5 {
	width: 90.5% !important;
}

.w91 {
	width: 91% !important;
}

.w91_5 {
	width: 91.5% !important;
}

.w100 {
	width: 100% !important;
}

.l0 {
	left: 0px !important;
}

.p1018 {
	padding: 10px 18px !important;
}

.p018 {
	padding: 0px 18px !important;
}

.p_0 {
	padding: 0 !important;
}

.pr_0 {
	padding-right: 0 !important;
}

.r_0 {
	right: 0 !important;
}

.l_0 {
	left: 0 !important;
}

.w270px {
	width: 270px !important;
}

.w376px {
	width: 376px !important;
}

.w152px {
	width: 152px !important;
}

div.table_wrap table.category_02 tbody tr .text_input_1line .int_date {
	width: 170px;
	padding: 8px 15px;
	line-height: 1;
	border: 1px solid #000000;
	border-right: 0;
	font-size: 14px;
}

.input_history {
	flex-direction: row;
	align-items: flex-start;
	width: 376px;
	height: 38px;
	margin-left: 0px;
	padding: 9px 18px;
	border: 1px solid #000000;
	background: #ffffff;
	box-sizing: border-box;
}

.p_l18 {
	padding-left: 18px;
	user-select: auto;
}

.bb01_01 {
	border-bottom: 1px solid #929292 !important;
}

.bb01_02 {
	border-bottom: 1px solid #bbbbbb;
}

.search {
	position: relative;
	margin: 20px 0px 0px 40px;
}

.search>table {
	width: 100%;
	height: 58px;
	border: 0px;
	border-top: 1px solid #000000;
}

.search>table tbody {
	border-bottom: 1px solid #bbbbbb;
}

.search>table tbody tr td:first-child {
	border-bottom: 1px solid #929292;
}

.table_whether {
	border-bottom: 1px solid #929292;

}

.board_pagination {
	padding: 98px 0px 40px 0px;
	margin: 0 auto;
}

.board_nav {
	text-align: center;
}

.board_nav .board_nav_page {
	width: 8px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	/* identical to box height, or 217% */
	text-align: center;
	letter-spacing: -0.01em;
	/* gr/40_BBBBBB */
	color: #BBBBBB;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
	padding: 0px 12px;
}

.board_nav .board_nav_page.active {
	width: 6px;
	height: 26px;
	font-weight: 500;
	font-size: 12px;
	line-height: 26px;
	/* identical to box height, or 217% */
	text-align: center;
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.table_wrap .category_02 tbody tr td.table_name {
	width: 152px;
	border-bottom: 1px solid #929292;
}

/* .table_wrap .category_02 tbody tr td.text_input_1line {
	height: 80px
} */

.search_table_form {
	margin-top: 110px;
}

div.search_table_wrap {
	margin: 20px 0px 0px 40px
}

.search_table_wrap .category_01 thead tr th {
	font-weight: 500;
}

.search_table_wrap .table_number {
	float: right;
	width: 167px;
	height: 38px;
	padding-left: 18px;
	border-radius: 0px;
	margin-bottom: 20px;
	background: url('../images/select_icon.svg') no-repeat 95% 50%;
}

.mg0 {

	margin: 0px !important;
}

.pr0 {
	padding-right: 0px !important;
}

.pr20 {
	padding-right: 20px !important;
}

.pr18 {
	padding-right: 18px !important;
}

.btn_attach_area div.int_btn title.pr20 {
	display: inline-block;
}

.btn_attach_area div.int_btn input.upload-name {
	width: 94.1%;
}

.table_m_title th {
	padding: 0px 0 0 18px;
	font-size: 15px;
	font-weight: 500;
}

.search_table_wrap .category_01 tbody tr td p {
	margin: 0px;
	font-size: 14px;
	font-weight: 400
}

.search_table_wrap .category_01 tbody tr.search_none {
	height: 116px;
}

.search_title {
	width: 152px;
	line-height: 24px;
	padding: 0px 18px;
	background-color: #e6e6e6;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.01em;
	color: #000000;
}

.search_condition {
	width: 200px;
}

.search_condition > select {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 167px;
	height: 38px;
	padding: 3px 8px 3px 18px;
	border: 1px solid #000000;
	margin: 0px 14px 0px 18px;
	background: url('../images/select_icon.svg') no-repeat right 8px center / 32px;
	font-size: 14px;
	letter-spacing: -0.01em;
	box-sizing: border-box;
}

.search_condition > select.select_style_02 {
	width: 180px;
}

select::-ms-expand {
	display: none;
}

.search_area > input {
	top: 166px;
	flex-direction: row;
	align-items: flex-start;
	width: 97%;
	height: 38px;
	padding: 9px 18px;
	margin: 0px 20px 0px 0px;
	border: 1px solid #000000;
	background: #ffffff;
	font-size: 14px;
	box-sizing: border-box;
}

.search_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 33px;
	position: absolute;
	right: 0;
	top: 77px;
	background: #000000;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ffffff;
}

.two_line {
	top: 312px
}




#category_table_01 {
	border-top: 1px solid #000000 !important;
}

.content .table_wrap {
	margin: 20px 0px 60px 40px;
	min-width: 985px;
}

.content div .table_wrap:last-child {
	margin: 20px 0px 0px 40px;
}

table.category_01 {
	width: 100%;
	background-color: #ffffff;
	color: #000000;
	border-left: 0px;
	border-right: 0px;
}

table.category_01 tbody {


	font-size: 14px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

table.category_01 td,
table.category_01 th {
	text-align: center;
	padding: 0 10px;
}

table.category_01 thead tr th:first-child>input,
table.category_01 tbody tr td:first-child>input {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	background: #ffffff;
	border: 1px solid #6f6f6f;
	flex: none;
	order: 0;
	flex-grow: 0;
}

table.category_01 thead {
	background-color: #e6e6e6;

	font-weight: 500;
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #000000;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.btn_attach {
	align-items: center;
	padding: 10px 34px;
	gap: 10px;
	height: 38px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
}

.btn_search {
	align-items: center;
	padding: 10px 34px;
	gap: 10px;
	height: 38px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	margin-left: 14px;
}

.btn_attach_area {
	height: 68px;
	padding: 10px 18px;
	border-bottom: 1px solid #bbbbbb;
	font-size: 14px;
	vertical-align: top;
}

.btn_attach_area .editor_area {
	width: 100%;
	border: 1px solid #000000;
	height: 258px;
	padding: 10px 18px;
	font-size: 14px;
}

.btn_attach_area .btn_attach_input {
	width: 81.9%;
	height: 38px;
	padding: 9px 18px;
}

.btn_attach_area.pd_spec .btn_attach_input {
	height: 58px;
}

/* .btn_attach_area label{
  padding-right: 20px;
} */

.btn_attach_area.pd_spec label {
	position: relative;
	top: -35px;
	padding-right: 20px;
}

table.category_02 tbody tr td.text_input_1line label {
	margin-right: 20px;
}

div.table_wrap table.category_03 tbody tr .p_l18 table.category_03 tbody .link_attach_area label {
	margin-right: 20px;
}

.link_attach_area {
	border-bottom: 1px solid #bbbbbb;
	padding-left: 18px;
	vertical-align: top;
	padding-top: 10px;
	font-size: 14px;
	font-weight: 500;
	padding-right: 14px;
}

table.category_02 tbody tr td .btn_attach_input {
	position: relative;
	left: -4px;
	top: -1px;
	width: 72%;
	margin: 0px;
}

table.category_02 tbody tr td p.guide_text {
	font-size: 10px;

	margin: 0px;
	padding-top: 10px;
}

.btn_attach_input {
	box-sizing: border-box;
	flex-direction: row;
	align-items: flex-start;
	padding: 9px 18px;
	gap: 10px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	flex-grow: 0;
	position: relative;
	/* left: -4px; */
	top: 0.5;
	width: 70%;

}

.btn_add {
	align-items: center;
	padding: 7.5px 14px;
	background: #f6f6f6;
	border: 1px solid #929292;
	position: absolute;
	right: 26px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #0c43b7;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-top: 4px;
}

table.category_03 tbody tr td.td_title {
	width: 152px;
	height: 88px;
	border-bottom: 1px solid #929292;
	background-color: #e6e6e6;
	padding-left: 18px;
	vertical-align: top;
	padding-top: 17px;
	font-weight: 500;
	font-size: 15px;
}

table.category_03 tbody tr td.td_title div {
	width: 47px;
	line-height: 25px;
}

.btn_del img {
	margin-right: 5px;
	pointer-events: none;
}

.h115 {
	height: 115px !important;
}

table.category_01 th,
table.category_01 td {
	border-bottom: 1px #bbbbbb solid;
	border-top: 1px #000000 solid;
	border-left: 1px #bbbbbb solid;
}

table.category_01 th:first-child,
table.category_01 td:first-child {
	border-left: 0;
}

table.category_01 th:last-child,
table.category_01 td:last-child {
	border-right: 0;
}

table.category_01>tbody>tr,
table.category_01>thead>tr {
	height: 58px;
}

table.category_02 {
	user-select: auto;
	font-size: 15px;
	width: 100%;
	color: #000000;
}

.table_whether {
	background-color: #e6e6e6;
}

table.category_02 tbody {
	user-select: auto;
}

table.category_02 tbody tr td textarea {
	flex: none;
	flex-grow: 0;
	flex-direction: row;
	align-items: flex-start;
	width: 94.6%;
	height: 188px;
	padding: 9px 18px;
	border: 1px solid #000000;
	background: #ffffff;
	box-sizing: border-box;
}

table.category_02 tbody tr td textarea[data-textarea="limit"] {
	height: 68px;
	resize: none;
}

table.category_02 tbody tr td textarea.textarea_type01 {
	width: 94.5%;
}

table.category_02 tbody tr th {
	user-select: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	border-bottom: 1px solid #bbbbbb;
	text-align: left;
	padding-left: 18px;
	font-weight: 500;
	font-size: 15px;
}

table.category_02 tbody tr th.input_area {
	font-size: 14px;
}

table.category_02 tbody tr th.input_area select {
	width: 167px;
	height: 38px;
	padding-left: 18px;
	border-radius: 0px;
	margin-right: 14px;
	background: url('../images/select_icon.svg') no-repeat right 8px center / 32px;
	font-weight: 400;
}

table.category_02 tbody tr th.input_area select.select_style_02 {
	width: 180px;
}

table.category_02 tbody tr.input_area input {
	box-sizing: border-box;
	flex-direction: row;
	align-items: flex-start;
	padding: 9px 18px;
	gap: 10px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	flex-grow: 0;
	width: 0px;
	margin-left: 20px;
}

table.category_02 tbody tr td.text_input_1line {
	user-select: auto;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 14px;
}

table.category_02 tbody tr td.text_input_1line p {
	padding-left: 46px;
	font-size: 10px;
	margin: 0px;
	padding-top: 10px;
}

table.category_02 tbody tr td.text_input_2line {
	user-select: auto;
	font-size: 14px;
	padding: 10px 18px 10px 18px;
	position: relative;
}

table.category_02 tbody tr td.text_input_2line p {
	display: inline-block;
	vertical-align: top;
	font-weight: 500;
	margin-right: 17px;
}

.text_input_2line label {
	vertical-align: top;
	padding: 0px 16px 0 0;
	position: relative;
	top: 7px;
}

table.category_02 tbody tr td.btn_attach_area {
	height: 58px;
	padding: 10px 18px;
}

.w35 {
	width: 34.5% !important;
}

.none {
	background-color: #f6f6f6;
}

table.category_02 tbody tr {
	user-select: auto;
	height: 58px;
	border-bottom: 1px solid #bbbbbb;
}

table.category_02 tbody tr th:first-child {
	width: 152px !important;
}

table.category_02 .table_date {
	background-color: #e6e6e6;
	border-bottom: 1px solid #929292;
	font-weight: 500;
	width: 152px;
}

table.category_02 .table_name,
table.category_02 .table_description,
table.category_02 .table_register {
	padding: 16px 0 0 18px;
	background-color: #e6e6e6;
	font-weight: 500;
	vertical-align: top;
	user-select: auto;
}

table.category_02 tbody > tr > td > input {
	box-sizing: border-box;
	flex-direction: row;
	align-items: flex-start;
	padding: 9px 18px;
	gap: 10px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	flex-grow: 0;
	width: 94.15%;
	margin-left: 0px;
}

div.table_wrap table.category_03 td.p_l18 table.category_03 thead tr th button.btn_add,
div.table_wrap table.category_03 td.p_l18 table.category_03 thead tr th button.btn_del {
	margin-top: -2px;
}

table.category_02 tbody tr td.text_input_1line span {
	font-size: 10px;
	color: #929292;
	display: inline-block;
	padding-right: 0px;
	padding-top: 10px;
}

.text_input_1line p {
	padding-left: 0px !important;
	font-size: 10px;
	margin: 0px;
	padding-top: 10px;
}

table.category_02 tbody tr td.text_input_2line span {
	float: right;
	padding-top: 10px;
	padding-right: 0px;
	font-size: 10px;
	color: #929292;
}

/* table.category_02 tbody tr td.text_input_2line span.text_limit {
	font-size: 13px;
	color: #000;
	position: absolute;
	right: -15px;
	bottom: 51px;
} */

table.category_02 tbody tr td.text_input_2line span.text_limit > i {
	font-style: normal;
	color: #000;
}

table.category_02 tbody tr td.text_input_2line span.text_limit > b {
	position: initial;
	top: initial;
	font-weight: initial;
	color: inherit;
}

table.category_02 tbody tr td .adress_input {
	box-sizing: border-box;
	flex-direction: row;
	align-items: flex-start;
	padding: 9px 18px;
	gap: 10px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	flex-grow: 0;
	width: 100%;
	margin: 5px 0px;
}

table.category_02 tbody tr td .adress_input:first-child {
	margin: 0px 0px 5px 0px;
	width: 30%;
}

table.category_03 {
	margin: 10px 0px;
	width: 100%;
	color: #000000;
	margin-bottom: 10px;
	/*border-top: 0;*/
}

table.category_03 tbody tr.table_m_title {
	user-select: auto;
	height: 58px;
	border-bottom: 1px solid #bbbbbb;
	background-color: #e6e6e6;
	text-align: top;
	vertical-align: middle;
	text-align: left;
	padding: 17px 0 0 18px;
}


table.category_03 thead tr th.btn_add {
	align-items: center;
	padding: 7.5px 14px;
	background: #f6f6f6;
	border: 1px solid #929292;
	position: absolute;
	right: 76px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #0c43b7;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.btn_add {
	align-items: center;
	padding: 7.5px 14px;
	background: #f6f6f6;
	border: 1px solid #929292;
	position: absolute;
	right: 18px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #0c43b7;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-top: 4px;
}

.btn_del {
	align-items: center;
	padding: 7.5px 14px;
	background: #f6f6f6;
	border: 1px solid #929292;
	position: absolute;
	right: 18px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ff2020;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-top: 4px;
}

table.category_03 thead tr th.btn_add img {
	padding-right: 4px;
	vertical-align: top;
	padding-top: 1px;
	height: 10px;
}

table.category_03 thead tr th.btn_del {
	align-items: center;
	padding: 7.5px 14px;
	background: #f6f6f6;
	border: 1px solid #929292;
	position: absolute;
	right: 76px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ff2020;
	flex: none;
	order: 1;
	flex-grow: 0;
}

table.category_03 thead tr th.btn_del img {
	padding-right: 4px;
	vertical-align: top;
	padding-top: 1px;
	height: 10px;
}

table.category_03 thead {
	height: 58px;
	background-color: #c5c5c5;
	text-align: left;
	border-bottom: 1px solid #000000;
}

table.category_03 thead tr th {
	position: relative;
	padding: 18px 0 0 18px;
	border-bottom: 1px solid #929292;
	border-top: 1px solid #929292;
	background-color: #c5c5c5;
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	vertical-align: top;
	user-select: auto;
}

table.category_03 thead tr th > h3 {
	font-size: 15px;
	letter-spacing: -0.01em;
}

table.category_03 tbody tr td.exposure_area {
	width: 43%;
	padding: 18px 17px;
	font-size: 14px;
	font-weight: 500;
}

.exposure_area {
	width: none !important;
	padding: 10px 18px !important;
	width: auto !important;
}


table.category_03 tbody tr td.exposure_num_area {
	width: 152px;
	background-color: #e6e6e6;
	padding: 18px 17px;
	font-size: 15px;
	font-weight: 500;
	border-bottom: 1px solid #929292;
}

.left_title {
	user-select: auto;
	vertical-align: top;
	padding: 17px 0 0 18px;
	text-align: left;
	font-weight: 500;
	background-color: #e6e6e6;
	font-size: 15px;
	width: 152px;
}

table.category_03 tbody tr td p {

	font-size: 10px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #000000;
	padding: 10px 0 0 0;
	margin: 0;
}

table.category_03 tbody tr td p.p_00011 {
	padding: 0 0 0 12px !important;
}

table.category_03 tbody tr td p.p_00044 {
	padding: 0 0 0 44px !important;
}

table.category_03 tbody tr td p.p_00057 {
	padding: 0 0 0 57px !important;
}

table.category_03 tbody tr td p:first-child {
	padding: 10px 0 0 0;
	font-size: 14px;
	font-weight: 500;
}

table.category_03 tbody tr td p:last-child {
	padding: 0 0 0 10px;
	padding-left: 7.5%;
}

table.category_03 tbody tr td .num_input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8.75px 18px 8.75px 30px;
	width: 116px;
	background: #ffffff;
	border: 1px solid #000000;
	margin-left: 18px;
	text-align: center;
}

table.category_03 tbody tr td .file_input {
	padding: 9px 18px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	position: relative;
	left: -4px;
	top: 0.5;
	width: 92.7%;
	/*margin-left: 14px;*/
}

table.category_02 tbody tr .input_area .tel_input {
	padding: 9px 18px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	position: relative;
	left: -4px;
	top: 0.5;
	width: 38%;
}

.exposed_whether {
	padding: 3px 8px 3px 18px;
	width: 124px;
	height: 38px;
	background: url('../images/select_icon.svg') no-repeat 95% 50%;
	border: 1px solid #000000;
	flex: none;
	order: 0;
	flex-grow: 1;
}

.category_btn_wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	position: absolute;
	right: 0;
	padding: 20px 0px 20px 0px;
}

.category_btn_del,
.category_btn_remove,
.btn_target_remove {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 50px;
	height: 38px;
	border: 1px solid #000000;
	order: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #000000;
	flex: none;
	flex-grow: 0;
	background-color: #fff;
}

.category_btn_save,
.category_btn_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 50px;
	height: 38px;
	background: #000000;
	flex: none;
	flex-grow: 0;
	color: #ffffff;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ffffff;
	flex: none;
}

.category_btn_regist {
	display: flex;
	align-items: center;
	padding: 11px 50px;
	height: 38px;
	background: #ff5f00;
	flex: none;
	order: 2;
	flex-grow: 0;
	color: #ffffff;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ffffff;
	flex-grow: 0;
}

.category_btn_wrap>a {
	color: #ffffff;
	text-decoration: none;
}

.category_btn_wrap>a:hover {
	color: #ffffff;
	text-decoration: none;
}

.order_num>input {
	align-items: center;
	padding: 4px 18px;
	gap: 10px;
	width: 100px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	order: 0;
	flex-grow: 1;
	text-align: center;
}

.order_num>input[type='number'] {
	padding-left: 30px;
}

.order_num>input:read-only {
	color: #bbb;
	border-color: #e6e6e6;
	background-color: #e6e6e6;
}

.shortcut .log_out {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 6px 34px;
	gap: 10px;
	width: 113px;
	height: 38px;
	/* primary/bk */
	background: #000000;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	text-decoration: none;
	font-weight: 500;
	font-size: 11px;
	line-height: 10px;
	text-align: center;
	letter-spacing: -0.01em;
	color: #ffffff;
}

.log_out>a {
	width: 45px;
	height: 26px;
	font-size: 13px;
	line-height: 26px;
	/* identical to box height, or 200% */
	letter-spacing: -0.01em;
	/* primary/wh */
	color: #ffffff;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.GNB {
	height: 56px;
	border-bottom: 1px solid #c5c5c5;
	user-select: auto;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 10;
	top: 0;
}

.GNB_area {
	position: relative;
}

.GNB_logo {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	padding: 19px 40px;
}

.GNB_Menu {
	position: absolute;
	height: 56px;
	top: 0;
	left: 166px;
}

.GNB_info {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 50px;
	width: 352px;
	height: 38px;
	right: 40px;
	top: 9px;
}

.GNB_list>li>a {
	font-weight: 500;
	font-size: 13px;
	line-height: 26px;
	text-align: right;
	letter-spacing: -0.01em;
	color: #000000;
	margin-right: 24px;
}

.GNB_list {
	display: inline-block;
}

.GNB_list>li {
	display: inline-block;
}

.LNB {
	position: fixed;
	width: 180px;
	left: 0px;
	top: 56px;
	/* gr/0_FBFBFB */
	background: #fbfbfb;
	/* gr/30_C5C5C5 */
	border-right: 1px solid #c5c5c5;
}

.LNB>ul {
	margin: 0;
}

.LNB>ul>li {
	/* Component 81 */
	box-sizing: border-box;
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border-width: 0.5px 0px;
	border-style: solid;
	border-color: #e6e6e6;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
}

.LNB>ul>li.selected {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	background: #e6e6e6;
	/* gr/20_E6E6E6 */
	border-width: 1px 0px;
	border-style: solid;
	/*border-color :#E6E6E6; Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: -1px 0px;
}

.LNB>ul>li>a {
	position: relative;
	padding: 6px 30px 6px 40px;
	width: 179px;
	height: 42px;
	/* gr/20_E6E6E6 */
	text-decoration: none;
	font-weight: 500;
	font-size: 12px;
	line-height: 30px;
	/* identical to box height, or 250% */
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.LNB>ul>.selected>a:after {
	position: absolute;
	content: "";
	border-color: #222;
	top: 6px;
	right: 26px;
	background: url('../images/arrow_black_icon.svg') no-repeat 0 0;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
}

.LNB_title {
	align-items: center;
	padding: 40px 20px 9px 40px;
	gap: 10px;
	margin: -1px 0px;
}

.LNB_title>h2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	/* identical to box height, or 250% */
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	margin: 0px 0px;
}

.magic-radio:checked+label:before {
	border: 1px solid #3e97eb;
}

.magic-radio:checked+label:before,
.magic-checkbox:checked+label:before {
	animation-name: none;
}

.magic-radio+label:before {
	border-radius: 50%;
}

.magic-radio+label:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #3e97eb;
}

.magic-radio+label:after,
.magic-checkbox+label:after {
	position: absolute;
	display: none;
	content: "";
}

.website_link {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 6px;
	width: 62px;
	height: 26px;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 6px 0px 6px 0px;
}

.website_link>a {
	height: 26px;


	font-size: 12px;
	line-height: 26px;
	/* identical to box height, or 217% */
	text-align: right;
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.login_text {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 6px;
	height: 26px;
	/* Inside auto layout */

}

.login_text div {
	font-weight: 400;
}

.login_text div:first-child {
	font-weight: 600;
}

.page_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 743px;
	position: absolute;
	height: 40px;
	left: 40px;
	top: 0;
}

.page_title>h1 {
	height: 40px;
	font-weight: 500;
	font-size: 22px;
	line-height: 40px;
	/* identical to box height, or 182% */
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0;
}

.category_subtitle {
	position: relative;
	height: 36px;
	margin: 20px 0px 0px 40px;
}

.category_subtitle h2 {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: -0.01em;
	color: #000000;
}

.category_subtitle p {
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #000000;
	margin: 0px;
	padding-top: 12px;
}

.category_subtitle p strong {
	color: #ff5f00;
}

.category_subtitle_medium {
	height: 25px;
	margin: 20px 0px 0px 40px;
}

.info_path {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.info_path>ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	height: 30px;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 5px 0px;
}

.info_path>ul>li {
	display: inline-block;

	font-weight: 500;
	font-size: 12px;
	line-height: 27px;
	/* identical to box height, or 225% */
	letter-spacing: -0.01em;
	/* gr/50_929292 */
	color: #929292;
}

.info_path>ul>li>a {
	color: #929292;
}

.info_path>ul>li:last-child>a {
	color: #000000;
}

.info_path>ul>span {
	float: right;
	width: 5px;
	height: 8.56px;
	margin: 12px 13px 10px 10px;
}

.info_path>ul>span>img {
	vertical-align: top;
}

.shortcut {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 24px;
	width: 199px;
	height: 38px;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.login_text:first-child {

	font-weight: 600;
	font-size: 12px;
	line-height: 26px;
	/* identical to box height, or 217% */
	text-align: right;
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.login_text:last-child {
	width: 52px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	/* identical to box height, or 217% */
	text-align: right;
	letter-spacing: -0.01em;
	/* primary/bk */
	color: #000000;
	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.login_wrap {
	text-align: center;
	display: flex;
	height: 100%;
}

.login_div {
	width: 327px;
	height: 290px;
	padding: 0px;
	margin: auto;

}

.login_title {
	position: relative;
	width: 100%;
	font-weight: 500;
	font-size: 22px;
	line-height: 40px;
	color: #000000;
	text-align: center;
	letter-spacing: -0.01em;
	display: inline-block;
	margin-bottom: 30px;
}

.login_id_input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 4px 18px;
	width: 327px;
	height: 38px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin-bottom: 10px;
	font-size: 14px;
	border: 1px solid #000000;

}

.login_pw_input {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 4px 18px;
	gap: 10px;
	width: 327px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #000000;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-bottom: 10px;
	font-size: 14px;
}

.login_btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 50px;
	font-size: 13px;
	height: 16px;
	gap: 10px;
	width: 327px;
	height: 38px;
	background: #000000;
	flex: none;
	order: 2;
	flex-grow: 0;
	color: #ffffff;
	border: 0px;

}

.login_id_div {
	position: relative;
	text-align: left;
	margin-top: 10px;
}

.login_id_save {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #000000;
}

.login_id_save_text {
	position: absolute;
	top: 0;
	left: 30px;
	width: 55px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.01em;
	color: #222222;
	margin: 0 0;
}

.login_copyright {
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 26px;
	padding: 0;
	font-size: 10px;
	letter-spacing: -0.01em;
	text-align: center;
	color: #929292;
	margin: 30px 0 0;
}

/* 인접한 요소 인 경우 여백 추가 */
*+ul,
*+ol,
*+dl,
*+pre,
*+address,
*+fieldset,
*+figure {
	margin-top: 20px;
}

/* 에디터 관련하여 일시 주석 처리 */
/* h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0 0 20px 0;
	font-weight: normal;
	color: #333;
	text-transform: none;
} */
/* //에디터 관련하여 일시 주석 처리 */


/* 인접한 요소 인 경우 여백 추가 */
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+.h1,
*+.h2,
*+.h3,
*+.h4,
*+.h5,
*+.h6 {
	margin-top: 40px;
}

/* 에디터 관련하여 일시 주석 처리 */
/* h1,
.h1 {
	font-size: 22px;
	line-height: 1.2;
}

h2,
.h2 {
	font-size: 1.7rem;
	line-height: 1.3;
}

h3,
.h3 {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
}

h4,
.h4 {
	font-size: 1.25rem;
	line-height: 1.4;
}

h5,
.h5 {
	font-size: 16px;
	line-height: 1.4;
}

h6,
.h6 {
	font-size: 0.875rem;
	line-height: 1.4;
} */
/* //에디터 관련하여 일시 주석 처리 */

ul,
ol {
	padding-right: 0px;
}

ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
	margin: 0 0 0 15px;
}

dt {
	font-weight: bold;
}

dd {
	margin-right: 0;
}

hr {
	overflow: visible;
	text-align: inherit;
	margin: 0 0 20px 0;
	border: 0;
	border-top: 1px solid #e5e5e5;
}

/* 인접한 요소 인 경우 여백 추가 */
*+hr {
	margin-top: 20px;
}

/* address {
  
} */

blockquote {
	margin: 0 0 20px 0;
	font-size: 1.25rem;
	line-height: 1.5;
	font-style: italic;
	color: #333;
}

/* 인접한 요소 인 경우 여백 추가 */
*+blockquote {
	margin-top: 20px;
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

blockquote footer {
	margin-top: 10px;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #666;
}

blockquote footer::before {
	content: "— ";
}

pre {
	font: 0.875rem / 1.5 Consolas, monaco, monospace;
	color: #666;
	-moz-tab-size: 4;
	tab-size: 4;
	/* 1 */
	overflow: auto;
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background: #fff;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
	border: 0px;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
	letter-spacing: -0.01em;
}

input::placeholder,
input::-webkit-input-placeholder {
	color: #bbbbbb;
	letter-spacing: -0.01em;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

[hidden] {
	display: none !important;
}

label.add_file {
	align-items: center;
	padding: 11px 34px;
	gap: 10px;
	height: 38px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 500;
	margin-left: 20px;
}

#file-chosen {
	margin-left: 0.3rem;
}




/* HTML5 elements ============================================================
 * ==============

 */
details,
main {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

/* 브라우저는 렌더링 속도, 정밀도에 대한 가독성을 강조 */
@media screen and(min-width :960px) {

	html,
	body {
		text-rendering: optimizeLegibility;
	}
}

table.category_02 tbody > tr > td > input:hover,
table.category_02 tbody > tr > td > input:active,
table.category_02 tbody > tr > td > input:focus {
	background-color: #fff;
	border-radius: 0;
	border: 2px solid #000;
}


table.category_02 tbody tr .input_area .tel_input:hover,
table.category_02 tbody tr .input_area .tel_input:active,
table.category_02 tbody tr .input_area .tel_input:focus {
	background-color: #fff;
	border-radius: 0;
	border: 2px solid #000;
}

/* 2차 제품 카테고리 인터렉션*/
.stepTwo_table_wrap {
	display: none;
}

.stepTwo_table_wrap.active {
	display: table-row;
}

/* //2차 제품 카테고리 인터렉션*/

/* 에디터 스타일 */
.note-editable {
	height: 300px;
}

/* //에디터 스타일 */

/* p 스타일 */
.p_type00 {
	display: block !important;
	line-height: 20px;
	letter-spacing: -0.01em;
	margin: 0;
	font-size: 10px;
}

/* //p 스타일 */

.stepTwo_table_wrap .category_03 {
	margin: 0;
}

/* 2차 제품 카테고리 스타일*/
.stepTwo_table_wrap>td {
	padding-top: 10px;
	padding-bottom: 10px;
}

td.two_step_empty {
	background-color: #f6f6f6;
}

td.two_step_empty>input[onclick='return false;']:checked::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55.6%;
	height: 55.6%;
	border-radius: 100%;
	background-color: #FFCAAB;

}

td.two_step_empty>input[onclick='return false;'] {
	appearance: none;
	border: 1px solid #bbb;
	border-radius: 100%;
}

td.two_step_empty>input[onclick='return false;']+label {
	color: #bbb;
}

/* 2차 제품 카테고리 스타일*/

/* td 스타일*/
.td_type01 {
	width: 18.12%;
}

/* //td 스타일*/

/* 페이저네이션 스타일*/
.board_nav_pre,
.board_nav_next {
	display: none;
}

.board_nav_pre.active,
.board_nav_next.active {
	display: inline;
}

/* //페이저네이션 스타일*/

/* 유저 첨부파일 스타일*/
.user_file {
	display: block;
	padding: 20px 0;
}

.user_file~.user_file {
	padding-top: 0;
}

/* //유저 첨부파일 스타일*/

/* 제품 선택 태그 스타일 (in 설치사례) */
.selected_product_wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 10px 0 0;
	list-style: none;
}

.selected_product_wrap.empty {
	margin: 0;
}

.selected_product_wrap li {
	position: relative;
	flex-shrink: 0;
	padding: 11px 38px 11px 18px;
	background-color: #f6f6f6;
}

table.category_02 tbody tr td .selected_product_wrap li .name {
	padding-top: 0;
	font-size: 13px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.01em;
}

.selected_product_wrap li .btn_delete {
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	display: block;
	width: 10px;
	height: 10px;
	background: url('../images/tag_close_icon.svg') center / 100% no-repeat;
	cursor: pointer;
}
/* //제품 선택 태그 스타일 (in 설치사례) */

table.category_03.type02 tbody tr th {
	padding-top: 18px;
	background-color: #e6e6e6;
	vertical-align: top;
}

table.category_03.type02 tbody tr td {
	padding: 10px 18px;
}

table.category_03.type02 tbody tr td.input_area select {
	width: 167px;
	height: 38px;
	padding-left: 18px;
	background: url("../images/select_icon.svg") no-repeat right 8px center / 32px;
}

.fixed_desc_table {
	display: none;
}

.fixed_desc_table.active {
	display: table-row;
}

/* summernote 스타일 초기화 */
/* .note-editor h1,
.note-editor h2,
.note-editor h3,
.note-editor h4,
.note-editor h5,
.note-editor h6,
.note-editor h1 {
	line-height: initial;
	font-size: initial;
	font-weight: initial;
	color: initial;
	text-transform: initial;
} */
/* //summernote 스타일 초기화 */

.text_limit {
	float: right;
	padding-top: 10px;
	padding-right: 0px;
	font-size: 10px;
	color: #929292;
}

.text_limit > i {
	font-style: normal;
	color: #000;
}

table.category_03 tbody tr td input.input_style02 {
	height: 38px;
	padding: 9px 18px;
	border: 1px solid #000;
}

.btn_add.style_02,
.btn_del.style_02 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
}